<div id="sidebar-fake-bg" class="sidebar-fake-bg"></div>
<nav class="navbar navbar-default navbar-static-top nav-shadow " role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Alterar menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="<%- root %>/"><img alt="Logo" src="<%- staticRoot %>/imagens/logo-cabecalho.png" /></a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
				<img class="profile-img" alt="Perfil" src="<%- staticRoot %>/imagens/user.png" width="40" height="40" /><%=usuario.login %> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<a href="<%- root %>/perfil"><i class="fa fa-user fa-fw"></i>Meu Perfil</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="<%- root %>/logout"><i class="fa fa-sign-out fa-fw"></i>Sair</a>
				</li>
			</ul>
		</li>
	</ul>

	<div id="sidebar" class="sidebar" role="navigation">
		<div id="navbar-collapse" class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">
				<li class="hidden-xs"><button id="btn-sidebar" type="button" class="btn btn-outline btn-default btn-sidebar" title="Ocultar Menu"><i class="fa fa-bars fa-fw fa-nomargin"></i></button></li>
				<li class="sidebar-spacer"></li>

				<li>
					<!-- <a href="<%- root %>/" class="active"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a> -->
					<a href="<%- root %>/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
				</li>

				<li class="sidebar-spacer"></li>

				<li>
					<a href="#"><i class="fa fa-bullhorn fa-fw"></i>Eventos<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<% if (usuario.admin) { %>

						<li>
							<a href="<%- root %>/evento/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<% } %>

						<% if (usuario.idevento_logado && usuario.nomeevento_logado) { %>

						<li>
							<a id="navbar-a-evento-logado" href="<%- root %>/evento"><i class="fa fa-bullhorn fa-fw"></i><%=usuario.nomeevento_logado %></a>
						</li>

						<% } else if (!usuario.admin) { %>

						<li>
							<a href="<%- root %>/"><i class="fa fa-bullhorn fa-fw"></i>Nenhum evento selecionado</a>
						</li>

						<% } %>

						<li>
							<a href="<%- root %>/evento/participantes-presencas"><i class="fa fa-users fa-fw"></i>Participantes</a>
						</li>

						<% if (usuario.admin) { %>

						<li>
							<a href="<%- root %>/evento/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

						<% } %>

					</ul>
				</li>

				<% if (usuario.admin) { %>

				<li class="sidebar-spacer"></li>

				<li>
					<a href="#"><i class="fa fa-anchor fa-fw"></i>Âncoras<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/curso/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/curso/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-cubes fa-fw"></i>Formatos<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/formato/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/formato/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<!--<li>
					<a href="#"><i class="fa fa-industry fa-fw"></i>Indústrias<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/industria/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/industria/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>-->

				<li>
					<a href="#"><i class="fa fa-map-marker fa-fw"></i>Locais<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/local/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/local/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-graduation-cap fa-fw"></i>Níveis de Instrução<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/instrucao/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/instrucao/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-id-badge fa-fw"></i>Profissões<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/profissao/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/profissao/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-codepen fa-fw"></i>Tipos de Sessão<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/tipoSessao/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/tipoSessao/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-cog fa-fw"></i>Tipos de Empresa<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/tipoEmpresa/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/tipoEmpresa/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-university fa-fw"></i>Unidades<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/unidade/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/unidade/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-trello fa-fw"></i>Verticais<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/vertical/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/vertical/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li class="sidebar-spacer"></li>

				<li>
					<a href="#"><i class="fa fa-user fa-fw"></i>Usuários<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="<%- root %>/usuario/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="<%- root %>/usuario/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<% } %>

				<li class="sidebar-spacer"></li>

			</ul>
		</div>
	</div>
</nav>
