<nav class="navbar navbar-default navbar-static-top nav-shadow " role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" href="<%- root %>/participante"><img alt="Logo" src="<%- root %>/imagens/logo-cabecalho.png" /></a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
				<img class="profile-img" alt="Perfil" src="<%- root %>/imagens/user.png" width="40" height="40" /><%=participante.nome %> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<a href="<%- root %>/participante/logout"><i class="fa fa-sign-out fa-fw"></i>Sair</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
