<div class="<%- (usuario ? 'panel panel-default' : 'hidden') %>">
	<div class="panel-heading">
		Administração
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="cbSessaoSugestao">Sugestão</label>
					<select id="cbSessaoSugestao" name="cbSessaoSugestao" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="cbSessaoOculta">Oculta</label>
					<select id="cbSessaoOculta" name="cbSessaoOculta" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
				</div>
			</div>
			<div class="col-sm-4">
				<label for="txtSessaoSenhaControle">Senha de Controle de Presença</label>
				<div class="input-group">
					<input id="txtSessaoSenhaControle" name="txtSessaoSenhaControle" type="password" class="form-control" maxlength="45" placeholder="EM BRANCO DESATIVA" spellcheck="false" autocomplete="off" />
					<span class="input-group-btn">
						<button class="btn btn-default btn-force-border" title="Mostrar/Ocultar Senha" type="button" onclick="_('txtSessaoSenhaControleIcon').className = (_('txtSessaoSenhaControle').getAttribute('type') === 'password' ? 'fa fa-nomargin fa-eye-slash' : 'fa fa-nomargin fa-eye'); _('txtSessaoSenhaControle').setAttribute('type', _('txtSessaoSenhaControle').getAttribute('type') === 'password' ? 'text' : 'password');"><i id="txtSessaoSenhaControleIcon" class="fa fa-nomargin fa-eye"></i></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Data e Hora
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="txtSessaoData"><%- (usuario ? "Data" : "Sugestão de Data") %></label>
					<input id="txtSessaoData" name="txtSessaoData" class="form-control" type="text" spellcheck="false" maxlength="11" />
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="form-group">
					<label for="txtSessaoInicio"><%- (usuario ? "Horário de Início" : "Sugestão de Horário de Início") %></label>
					<input id="txtSessaoInicio" name="txtSessaoInicio" class="form-control" type="text" spellcheck="false" maxlength="5" />
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="form-group">
					<label for="txtSessaoTermino"><%- (usuario ? "Horário de Término" : "Sugestão de Horário de Término") %></label>
					<input id="txtSessaoTermino" name="txtSessaoTermino" class="form-control" type="text" spellcheck="false" maxlength="5" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Nome e Local
	</div>
	<div class="panel-body no-bottom">
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="cbSessaoLocal">Local</label>
			<select id="cbSessaoLocal" name="cbSessaoLocal" class="form-control" size="1"><option value="">SELECIONE...</option></select>
		</div>
		<div class="form-group" id="divSessaoUrlRemota" style="display: none;">
			<label for="txtSessaoUrlRemota">URL da Sessão Remota (link do Zoom, Teams etc...) <small><i>(http://... ou https://...)</i></small></label>
			<input id="txtSessaoUrlRemota" name="txtSessaoUrlRemota" type="url" class="form-control" maxlength="100" spellcheck="false" />
		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="txtSessaoNome">Nome</label>
					<input id="txtSessaoNome" name="txtSessaoNome" type="text" class="form-control" maxlength="100" />
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="txtSessaoNomeCurto">Nome Curto</label>
					<input id="txtSessaoNomeCurto" name="txtSessaoNomeCurto" type="text" class="form-control" maxlength="45" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Inscrição e Horas ACOM
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoPermiteInscricao">Permite Inscrição</label>
					<select id="cbSessaoPermiteInscricao" name="cbSessaoPermiteInscricao" class="form-control upper" size="1"><option value="1" selected="selected">SIM</option><option value="0">NÃO</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="txtSessaoAcomMinutos">Quantidade de Horas ACOM</label>
					<input id="txtSessaoAcomMinutos" name="txtSessaoAcomMinutos" class="form-control upper" type="text" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					A quantidade de horas ACOM a ser creditada em caso de presença é independente da duração da sessão. <b>Por favor, preencha com 0 caso a sessão não permita crédito de horas ACOM</b>.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Informações Extras para a Landing Page
	</div>
	<div class="panel-body no-bottom">
		<div class="form-group">
			<label for="txtSessaoDescricao">Descrição</label>
			<textarea id="txtSessaoDescricao" name="txtSessaoDescricao" class="form-control" maxlength="200" rows="4"></textarea>
		</div>
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="txtSessaoMensagemEsgotada">Mensagem de Sessão Esgotada</label>
			<textarea id="txtSessaoMensagemEsgotada" name="txtSessaoMensagemEsgotada" class="form-control" maxlength="250" rows="4"></textarea>
		</div>
		<div class="form-group">
			<label for="txtSessaoTags">Tags <small>(Separadas por vírgula)</small></label>
			<input id="txtSessaoTags" name="txtSessaoTags" type="text" class="form-control upper" maxlength="100" />
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Metainformações
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoCurso">Âncora</label>
					<select id="cbSessaoCurso" name="cbSessaoCurso" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoFormato">Formato</label>
					<select id="cbSessaoFormato" name="cbSessaoFormato" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoTipo">Tipo de Sessão</label>
					<select id="cbSessaoTipo" name="cbSessaoTipo" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoVertical">Vertical</label>
					<select id="cbSessaoVertical" name="cbSessaoVertical" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="txtSessaoPublicoAlvo">Público-Alvo</label>
			<input id="txtSessaoPublicoAlvo" name="txtSessaoPublicoAlvo" type="text" class="form-control" maxlength="100" />
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	// Como não podemos utilizar o contentFor("scripts"), porque o alterar.ejs
	// será utilizado como include para outra página, precisamos executar a
	// função apenas quando o documento estiver ok
	$(function () {
		var idevento = <%- idevento %>, idEventoLocalPadraoInternet = 0;
		carregarLocais(<%- eventoLocais %>, <%- locais %>);
		carregarCursos(<%- cursos %>);
		carregarFormatos(<%- formatos %>);
		carregarTipoSessoes(<%- tipoSessoes %>);
		carregarVerticais(<%- verticais %>);

		window.localInternet = function (ideventolocal) {
			var i, local = null;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].ideventolocal === ideventolocal) {
					local = eventoLocais[i];
					break;
				}
			}
			return (local && local.idunidade === -1);
		};

		window.obterIdEventoLocalPadraoInternet = function () {
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			var i;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].id === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].idunidade === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			return idEventoLocalPadraoInternet;
		};

		window.preencherFormSessao = function (sessao) {
			preencherCb(_("cbSessaoLocal"), eventoLocais, sessao ? sessao.ideventolocal : "0", function (e) { return e.nome + " (" + e.sigla_unidade + ")"; }, "ideventolocal", <%- (usuario ? "false" : "true") %>);
			$("#txtSessaoNome").val(sessao ? sessao.nome : "");
			$("#txtSessaoNomeCurto").val(sessao ? sessao.nome_curto : "");
			setDatePickerValue("#txtSessaoData", sessao ? sessao.data : "");
			$("#txtSessaoInicio").val(sessao ? sessao.inicio : "");
			$("#txtSessaoTermino").val(sessao ? sessao.termino : "");
			_("divSessaoUrlRemota").style.display = ((sessao && localInternet(sessao.ideventolocal)) ? "" : "none");
			$("#txtSessaoUrlRemota").val(sessao ? sessao.url_remota : "");
			$("#txtSessaoDescricao").val(sessao ? sessao.descricao : "");
			$("#cbSessaoOculta").val(sessao ? sessao.oculta : "0");
			$("#cbSessaoSugestao").val(sessao ? sessao.sugestao : "0");
			$("#cbSessaoPermiteInscricao").val(sessao ? sessao.permiteinscricao : "1");
			$("#txtSessaoAcomMinutos").val(sessao ? (sessao.acomminutos / 60).toFixed(1).replace(".", ",") : "");
			preencherCb(_("cbSessaoCurso"), eventoCursos, sessao ? sessao.idcurso : "0");
			preencherCb(_("cbSessaoFormato"), eventoFormatos, sessao ? sessao.idformato : "0");
			preencherCb(_("cbSessaoTipo"), eventoTipoSessoes, sessao ? sessao.idtiposessao : "0");
			preencherCb(_("cbSessaoVertical"), eventoVerticais, sessao ? sessao.idvertical : "0");
			$("#txtSessaoPublicoAlvo").val(sessao ? sessao.publico_alvo : "");
			$("#txtSessaoTags").val(sessao ? sessao.tags : "");
			$("#txtSessaoSenhaControle").val(sessao ? sessao.senhacontrole : "");
			$("#txtSessaoMensagemEsgotada").val(sessao ? sessao.mensagemesgotada : "");
		};

		//<% if (usuario) { %>
		prepareCbSearch(_("cbSessaoLocal"));
		//<% } %>
		prepareCbSearch(_("cbSessaoCurso"));
		prepareCbSearch(_("cbSessaoFormato"));
		prepareCbSearch(_("cbSessaoTipo"));
		prepareCbSearch(_("cbSessaoVertical"));
		_("cbSessaoLocal").onchange = function () {
			_("divSessaoUrlRemota").style.display = (localInternet(parseInt(_("cbSessaoLocal").value)) ? "" : "none");
		};
		fixUrlOnBlur(_("txtSessaoUrlRemota"));

		function preencherDadosSessao(s) {
			var tmp = eventoLocaisPorIdEventoLocal[s.ideventolocal];
			s.idlocal = tmp.id;
			s.nome_local = tmp.nome;
			s.sigla_unidade = tmp.sigla_unidade;
			tmp = eventoCursosPorId[s.idcurso];
			s.nome_curso = tmp.nome;
			tmp = eventoFormatosPorId[s.idformato];
			s.nome_formato = tmp.nome;
			tmp = eventoTipoSessoesPorId[s.idtiposessao];
			s.nome_tipo = tmp.nome;
			tmp = eventoVerticaisPorId[s.idvertical];
			s.nome_vertical = tmp.nome;
		}

		$("#formAlterarSessao").validate({
			rules: {
				cbSessaoLocal: {
					required: true
				},
				txtSessaoNome: {
					required: true,
					minlength: 3,
					maxlength: 100
				},
				txtSessaoNomeCurto: {
					maxlength: 45
				},
				txtSessaoData: {
					required: true,
					maxlength: 11
				},
				txtSessaoInicio: {
					maxlength: 5,
					required: true
				},
				txtSessaoTermino: {
					maxlength: 5,
					required: true
				},
				txtSessaoUrlRemota: {
					maxlength: 100,
					required: function () {
						// <% if (usuario) { %>
						return false;
						// <% } else { %>
						return false;
						//return (!!obterIdEventoLocalPadraoInternet() && parseInt(_("cbSessaoLocal").value) === obterIdEventoLocalPadraoInternet());
						// <% } %>
					}
				},
				txtSessaoDescricao: {
					maxlength: 200
				},
				txtSessaoAcomMinutos: {
					required: true,
					numeroDecimal: true
				},
				cbSessaoOculta: {
					required: true
				},
				cbSessaoSugestao: {
					required: true
				},
				cbSessaoCurso: {
					required: true
				},
				cbSessaoFormato: {
					required: true
				},
				cbSessaoTipo: {
					required: true
				},
				cbSessaoVertical: {
					required: true
				},
				txtSessaoPublicoAlvo: {
					maxlength: 100
				},
				txtSessaoTags: {
					maxlength: 100
				},
				txtSessaoSenhaControle: {
					maxlength: 45
				},
				txtSessaoMensagemEsgotada: {
					maxlength: 250
				},
				//<% if (!usuario) { for (let i = 0; i < 6; i++) { %>
				"txtPalestranteNome<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteEmail<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmail<%- i %>": {
					maxlength: 100,
					email: true,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmpresa<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmail<%- i %>").val())); }
				},
				//<% } } %>
			},
			submitHandler: function (form) {
				if ($.active || JsonWebApi.active)
					return;

				var sessao, i, stags, s = {
					idevento: idevento,
					ideventolocal: parseInt($("#cbSessaoLocal").val()),
					nome: trim($("#txtSessaoNome").val().normalize()),
					nome_curto: trim($("#txtSessaoNomeCurto").val().normalize()),
					data: trim($("#txtSessaoData").val().normalize()),
					inicio: trim($("#txtSessaoInicio").val().normalize()),
					termino: trim($("#txtSessaoTermino").val().normalize()),
					url_remota: trim($("#txtSessaoUrlRemota").val().normalize()),
					descricao: trim($("#txtSessaoDescricao").val().normalize()),
					oculta: parseInt($("#cbSessaoOculta").val()),
					sugestao: parseInt($("#cbSessaoSugestao").val()),
					permiteinscricao: parseInt($("#cbSessaoPermiteInscricao").val()),
					acomminutos: (parseFloat($("#txtSessaoAcomMinutos").val().replace(",", ".")) * 60) | 0,
					idcurso: parseInt($("#cbSessaoCurso").val()),
					idformato: parseInt($("#cbSessaoFormato").val()),
					idtiposessao: parseInt($("#cbSessaoTipo").val()),
					idvertical: parseInt($("#cbSessaoVertical").val()),
					publico_alvo: trim($("#txtSessaoPublicoAlvo").val().normalize()),
					tags: trim($("#txtSessaoTags").val()).toUpperCase(),
					senhacontrole: trim($("#txtSessaoSenhaControle").val().normalize()),
					idspalestrante: []
				};

				//<% if (!usuario) { %>
				s.url = trim($("#txtSessaoUrl").val());
				s.senha = trim($("#txtSessaoSenha").val());
				s.palestrantes = [
				//<% for (let i = 0; i < 6; i++) { %>
					{
						nome: trim($("#txtPalestranteNome<%- i %>").val()),
						email: trim($("#txtPalestranteEmail<%- i %>").val()),
						empresa: trim($("#txtPalestranteEmpresa<%- i %>").val()),
					},
				//<% } %>
				];
				//<% } else { %>
				s.mensagemesgotada = trim($("#txtSessaoMensagemEsgotada").val());
				//<% } %>

				if (!s.nome_curto)
					s.nome_curto = (s.nome.length <= 45 ? s.nome : s.nome.substr(0, 45));

				stags = s.tags.split(",");
				for (var i = 0; i < stags.length; i++) {
					stags[i] = trim(stags[i]);
					if (!stags[i]) {
						stags.splice(i, 1);
						i--;
					}
				}
				s.tags = stags.join(", ");

				Notification.wait();

				// <% if (usuario) { %>

				$("#tabelaSessaoPalestranteBody>tr").each(function (i, tr) { s.idspalestrante.push(parseInt(tr.getAttribute("data-id"))); });

				if (trSessaoClicada && (sessao = tabelaSessoes.row(trSessaoClicada).data())) {
					s.id = sessao.id;

					JsonWebApi.post("<%- root %>/api/sessao/alterar", s, function (response) {
						if (response.success) {
							// Quando status_integra vem do servidor como -1, é para utilizarmos o valor
							// atual da propriedade status_integra!
							var status_integra = parseInt(response.value[1]);
							if (status_integra >= 0)
								sessao.status_integra = status_integra;
							sessao.ideventolocal = s.ideventolocal;
							sessao.nome = s.nome;
							sessao.nome_curto = s.nome_curto;
							sessao.data = s.data;
							sessao.inicio = s.inicio;
							sessao.termino = s.termino;
							sessao.url_remota = s.url_remota;
							sessao.descricao = s.descricao;
							sessao.oculta = s.oculta;
							sessao.sugestao = s.sugestao;
							sessao.permiteinscricao = s.permiteinscricao;
							sessao.acomminutos = s.acomminutos;
							sessao.idcurso = s.idcurso;
							sessao.idformato = s.idformato;
							sessao.idtiposessao = s.idtiposessao;
							sessao.idvertical = s.idvertical;
							sessao.publico_alvo = s.publico_alvo;
							sessao.tags = s.tags;
							sessao.senhacontrole = s.senhacontrole;
							sessao.mensagemesgotada = s.mensagemesgotada;
							sessao.idspalestrante = s.idspalestrante;
							preencherDadosSessao(sessao);
							Notification.success("Sessão alterada com sucesso! " + emoji.happy);
							tabelaSessoes.row(trSessaoClicada).invalidate().draw();
							if (naoFecharModal) {
								naoFecharModal = false;
							} else {
								trSessaoClicada = null;
								$("#modalAlterarSessao").modal("hide");
							}
						} else {
							Notification.error(response.value, true);
						}
					});
				} else {

					// <% } %>

					JsonWebApi.post("<%- (usuario ? '/api/sessao/criar' : '/api/sessao/criarExterno') %>", s, function (response) {
						if (response.success) {
							resetForm("#formAlterarSessao");

							// <% if (usuario) { %>

							_("cbSessaoPermiteInscricao").value = "1";
							_("txtSessaoAcomMinutos").value = "";
							$("#tabelaSessaoPalestranteBody").empty();
							$("#tabelaSessaoPalestrante").hide();
							s.id = parseInt(response.value[0]);
							s.status_integra = parseInt(response.value[1]);
							s.inscritos = 0;
							s.presentes = 0;
							s.avaliacoes = "-";
							s.media = "-";
							preencherDadosSessao(s);
							eventoSessoesPorId[s.id] = s;
							eventoSessoes.push(s);
							Notification.success("Sessão criada com sucesso! " + emoji.happy);
							tabelaSessoes.row.add(s).draw();

							// <% } else { %>

							_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
							_("divSessaoUrlRemota").style.display = "";
							Notification.success("Sugestão de sessão criada com sucesso! " + emoji.happy);

							// <% } %>

						} else {
							Notification.error(response.value, true);
						}
						// <% if (usuario) { %>
						trSessaoClicada = null;
						// <% } %>
					});

					// <% if (usuario) { %>
				}

				// <% } %>

			}
		});

		prepareDatePickerNumber("#txtSessaoData");
		$("#txtSessaoInicio").mask("00:00");
		$("#txtSessaoTermino").mask("00:00");
		$("#txtSessaoAcomMinutos").mask("0000,0", { reverse: true });
		$("#txtSessaoSenhaControle").mask("ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ", { translation: { Z: { pattern: /[A-Za-z0-9_\-]/, optional: true } } });

		//<% if (!usuario) { %>
		preencherFormSessao(null);
		_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
		_("divSessaoUrlRemota").style.display = "";
		//<% } %>
	});

	//]]>
</script>
