<div class="<%- (usuario ? 'panel panel-default' : 'hidden') %>">
	<div class="panel-heading">
		Administração
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="cbSessaoSugestao">Sugestão</label>
					<select id="cbSessaoSugestao" name="cbSessaoSugestao" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="cbSessaoOculta">Oculta</label>
					<select id="cbSessaoOculta" name="cbSessaoOculta" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="txtSessaoSenhaControle">Senha de Controle de Presença</label>
					<div class="input-group">
						<input id="txtSessaoSenhaControle" name="txtSessaoSenhaControle" type="password" class="form-control" maxlength="45" placeholder="EM BRANCO DESATIVA" spellcheck="false" autocomplete="off" />
						<span class="input-group-btn">
							<button class="btn btn-default btn-force-border" title="Mostrar/Ocultar Senha" type="button" onclick="_('txtSessaoSenhaControleIcon').className = (_('txtSessaoSenhaControle').getAttribute('type') === 'password' ? 'fa fa-nomargin fa-eye-slash' : 'fa fa-nomargin fa-eye'); _('txtSessaoSenhaControle').setAttribute('type', _('txtSessaoSenhaControle').getAttribute('type') === 'password' ? 'text' : 'password');"><i id="txtSessaoSenhaControleIcon" class="fa fa-nomargin fa-eye"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Data e Hora
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="txtSessaoData"><%- (usuario ? "Data" : "Sugestão de Data") %></label>
					<input id="txtSessaoData" name="txtSessaoData" class="form-control" type="text" spellcheck="false" maxlength="11" />
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="form-group">
					<label for="txtSessaoInicio"><%- (usuario ? "Horário de Início" : "Sugestão de Horário de Início") %></label>
					<input id="txtSessaoInicio" name="txtSessaoInicio" class="form-control" type="text" spellcheck="false" maxlength="5" />
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="form-group">
					<label for="txtSessaoTermino"><%- (usuario ? "Horário de Término" : "Sugestão de Horário de Término") %></label>
					<input id="txtSessaoTermino" name="txtSessaoTermino" class="form-control" type="text" spellcheck="false" maxlength="5" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="cbSessaoTipoMultidata">Datas Adicionais</label>
					<select class="form-control" id="cbSessaoTipoMultidata" name="cbSessaoTipoMultidata">
						<option value="<%- TIPOMULTIDATA_NENHUM %>">Sem datas adicionais (ocorre apenas em uma data)</option>
						<option value="<%- TIPOMULTIDATA_MINIMO_EXIGIDO %>">Com datas adicionais (presença mínima exigida)</option>
						<option value="<%- TIPOMULTIDATA_PROPORCIONAL %>">Com datas adicionais (horas proporcionais às presenças)</option>
					</select>
				</div>
				<div class="form-group" id="divSessaoPresencaMinima" style="display: none;">
					<label for="txtSessaoPresencaMinima">Encontros Mínimos Exigidos</label>
					<input id="txtSessaoPresencaMinima" name="txtSessaoPresencaMinima" class="form-control" type="number" />
				</div>

				<div id="divSessaoMultidata" style="display: none;">
					<div class="col-xs-space-bottom">
						<button class="btn btn-primary" type="button" onclick="adicionarSessaoMultidata()"><i class="fa fa-plus"></i>Criar Data Adicional...</button>
					</div>
					<div class="table-responsive col-xs-space-bottom" id="divSessaoMultidataTable" style="display: none;">
						<table id="" class="table table-striped table-hover no-margin-bottom">
							<thead>
								<tr>
									<th class="col-min"></th>
									<th>Data</th>
									<th class="col-min">Início</th>
									<th class="col-min">Término</th>
								</tr>
							</thead>
							<tbody id="tableSessaoMultidataBody"></tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="col-sm-6">
				<div class="col-xs-space-bottom">
					Abaixo segue uma breve explicação do significado das datas adicionais de uma sessão:
				</div>
				<ul>
					<li class="col-xs-space-bottom"><b>Sem datas adicionais</b>: A sessão ocorre em apenas uma data, ou, caso ocorra em mais datas, são cópias desta sessão, normalmente com públicos diferentes.</li>
					<li class="col-xs-space-bottom"><b>Com datas adicionais (presença mínima)</b>: A sessão está dividida em mais de uma manhã/tarde/noite, e o participante só receberá o certificado/horas ACOM designadas caso compareça a pelo menos X encontros. Um exemplo desse tipo de sessão seria um curso de 20 horas, dividido em 5 noites, das quais o participante tem a obrigação de comparecer em pelo menos 4 noites para poder receber o certificado/horas ACOM.</li>
					<li class="col-xs-space-bottom"><b>Com datas adicionais (horas proporcionais)</b>: A sessão está dividida em mais de uma manhã/tarde/noite, e o participante receberá o certificado/horas ACOM proporcionais à quantidade de presenças. Por exemplo, um participante que comparecesse a 3 noites de um curso de 20 horas, dividido em 5 noites, teria direito a receber um certificado com 3 presenças/12 horas ACOM.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Nome e Local
	</div>
	<div class="panel-body no-bottom">
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="cbSessaoLocal">Local</label>
			<select id="cbSessaoLocal" name="cbSessaoLocal" class="form-control" size="1"><option value="">SELECIONE...</option></select>
		</div>
		<div class="form-group" id="divSessaoUrlRemota" style="display: none;">
			<label for="txtSessaoUrlRemota">URL da Sessão Remota (link do Zoom, Teams etc...) <small><i>(http://... ou https://...)</i></small></label>
			<input id="txtSessaoUrlRemota" name="txtSessaoUrlRemota" type="url" class="form-control" maxlength="100" spellcheck="false" />
		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="txtSessaoNome">Nome</label>
					<input id="txtSessaoNome" name="txtSessaoNome" type="text" class="form-control" maxlength="100" />
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="txtSessaoNomeCurto">Nome Curto</label>
					<input id="txtSessaoNomeCurto" name="txtSessaoNomeCurto" type="text" class="form-control" maxlength="45" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Inscrição e Horas ACOM
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoPermiteInscricao">Permite Inscrição</label>
					<select id="cbSessaoPermiteInscricao" name="cbSessaoPermiteInscricao" class="form-control upper" size="1"><option value="1" selected="selected">SIM</option><option value="0">NÃO</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="txtSessaoAcomMinutos">Quantidade de Horas ACOM</label>
					<input id="txtSessaoAcomMinutos" name="txtSessaoAcomMinutos" class="form-control upper" type="text" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-xs-space-bottom">
					A quantidade de horas ACOM a ser creditada em caso de presença é independente da duração da sessão. <b>Por favor, preencha com 0 caso a sessão não permita crédito de horas ACOM</b>.
				</div>
				<div class="col-xs-space-bottom">
					Caso uma sessão esteja dividida em mais de uma manhã/tarde/noite, este campo deve conter a quantidade total de horas ACOM a serem creditadas. Por exemplo, um curso de 20 horas, dividido em 5 noites, credita 20 horas no total.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Informações Extras para a Landing Page
	</div>
	<div class="panel-body no-bottom">
		<div class="form-group">
			<label for="txtSessaoDescricao">Descrição</label>
			<textarea id="txtSessaoDescricao" name="txtSessaoDescricao" class="form-control" maxlength="200" rows="4"></textarea>
		</div>
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="txtSessaoMensagemEsgotada">Mensagem de Sessão Esgotada</label>
			<textarea id="txtSessaoMensagemEsgotada" name="txtSessaoMensagemEsgotada" class="form-control" maxlength="250" rows="4"></textarea>
		</div>
		<div class="form-group">
			<label for="txtSessaoTags">Tags <small>(Separadas por vírgula)</small></label>
			<input id="txtSessaoTags" name="txtSessaoTags" type="text" class="form-control upper" maxlength="100" />
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Metainformações
	</div>
	<div class="panel-body no-bottom">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoCurso">Âncora</label>
					<select id="cbSessaoCurso" name="cbSessaoCurso" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoFormato">Formato</label>
					<select id="cbSessaoFormato" name="cbSessaoFormato" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoTipo">Tipo de Sessão</label>
					<select id="cbSessaoTipo" name="cbSessaoTipo" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="cbSessaoVertical">Vertical</label>
					<select id="cbSessaoVertical" name="cbSessaoVertical" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="txtSessaoPublicoAlvo">Público-Alvo</label>
			<input id="txtSessaoPublicoAlvo" name="txtSessaoPublicoAlvo" type="text" class="form-control" maxlength="100" />
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	// Como não podemos utilizar o contentFor("scripts"), porque o alterar.ejs
	// será utilizado como include para outra página, precisamos executar a
	// função apenas quando o documento estiver ok
	$(function () {
		var idevento = <%- idevento %>, idEventoLocalPadraoInternet = 0, idMultidata = 0, formAlterarSessaoValidator = null,
			regrasSessaoData = {
				required: true,
				maxlength: 11
			},
			regrasSessaoInicio = {
				maxlength: 5,
				required: true
			},
			regrasSessaoTermino = {
				maxlength: 5,
				required: true
			};
		carregarLocais(<%- eventoLocais %>, <%- locais %>);
		carregarCursos(<%- cursos %>);
		carregarFormatos(<%- formatos %>);
		carregarTipoSessoes(<%- tipoSessoes %>);
		carregarVerticais(<%- verticais %>);

		window.limparSessaoMultidata = function () {
			_("divSessaoMultidataTable").style.display = "none";
			_("divSessaoPresencaMinima").style.display = "none";
			_("divSessaoMultidata").style.display = "none";
			$("#tableSessaoMultidataBody").empty();
			formAlterarSessaoValidator.resetForm();
		};

		window.removerSessaoMultidata = function (idMultidata) {
			$("#trSessaoMultidata" + idMultidata).remove();
			if (!_("tableSessaoMultidataBody").childNodes.length)
				_("divSessaoMultidataTable").style.display = "none";
			formAlterarSessaoValidator.resetForm();
		};

		window.adicionarSessaoMultidata = function (multidata) {
			var tr = $("#tableSessaoMultidataBody").append(`<tr id="trSessaoMultidata${idMultidata}" data-id="${idMultidata}">
				<td class="col-min">
					<button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerSessaoMultidata(${idMultidata})"><i class="fa fa-nomargin fa-times"></i></button>
				</td>
				<td>
					<input id="txtSessaoData${idMultidata}" name="txtSessaoData${idMultidata}" class="form-control" type="text" spellcheck="false" maxlength="11" style="min-width: 11em;" />
				</td>
				<td class="col-min">
					<input id="txtSessaoInicio${idMultidata}" name="txtSessaoInicio${idMultidata}" class="form-control" type="text" spellcheck="false" maxlength="5" style="min-width: 5em;" />
				</td>
				<td class="col-min">
					<input id="txtSessaoTermino${idMultidata}" name="txtSessaoTermino${idMultidata}" class="form-control" type="text" spellcheck="false" maxlength="5" style="min-width: 5em;" />
				</td>
			</tr>`)[0];

			_("divSessaoMultidataTable").style.display = "";

			prepareDatePickerNumber("#txtSessaoData" + idMultidata);
			$("#txtSessaoInicio" + idMultidata).mask("00:00");
			$("#txtSessaoTermino" + idMultidata).mask("00:00");

			if (multidata) {
				setDatePickerValue("#txtSessaoData" + idMultidata, multidata.data);
				$("#txtSessaoInicio" + idMultidata).val(multidata.inicio);
				$("#txtSessaoTermino" + idMultidata).val(multidata.termino);
			}

			$("#txtSessaoData" + idMultidata).rules("add", regrasSessaoData);
			$("#txtSessaoInicio" + idMultidata).rules("add", regrasSessaoInicio);
			$("#txtSessaoTermino" + idMultidata).rules("add", regrasSessaoTermino);

			formAlterarSessaoValidator.resetForm();

			idMultidata++;
		};

		window.localInternet = function (ideventolocal) {
			var i, local = null;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].ideventolocal === ideventolocal) {
					local = eventoLocais[i];
					break;
				}
			}
			return (local && local.idunidade === -1);
		};

		window.obterIdEventoLocalPadraoInternet = function () {
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			var i;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].id === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].idunidade === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			return idEventoLocalPadraoInternet;
		};

		window.preencherFormSessao = function (sessao) {
			limparSessaoMultidata();

			preencherCb(_("cbSessaoLocal"), eventoLocais, sessao ? sessao.ideventolocal : "0", function (e) { return e.nome + " (" + e.sigla_unidade + ")"; }, "ideventolocal", <%- (usuario ? "false" : "true") %>);
			$("#txtSessaoNome").val(sessao ? sessao.nome : "");
			$("#txtSessaoNomeCurto").val(sessao ? sessao.nome_curto : "");
			setDatePickerValue("#txtSessaoData", sessao ? sessao.data : "");
			$("#txtSessaoInicio").val(sessao ? sessao.inicio : "");
			$("#txtSessaoTermino").val(sessao ? sessao.termino : "");
			_("divSessaoUrlRemota").style.display = ((sessao && localInternet(sessao.ideventolocal)) ? "" : "none");
			$("#txtSessaoUrlRemota").val(sessao ? sessao.url_remota : "");
			$("#txtSessaoDescricao").val(sessao ? sessao.descricao : "");
			$("#cbSessaoOculta").val(sessao ? sessao.oculta : "0");
			$("#cbSessaoSugestao").val(sessao ? sessao.sugestao : "0");
			$("#cbSessaoPermiteInscricao").val(sessao ? sessao.permiteinscricao : "1");
			$("#txtSessaoAcomMinutos").val(sessao ? (sessao.acomminutos / 60).toFixed(1).replace(".", ",") : "");
			preencherCb(_("cbSessaoCurso"), eventoCursos, sessao ? sessao.idcurso : "0");
			preencherCb(_("cbSessaoFormato"), eventoFormatos, sessao ? sessao.idformato : "0");
			preencherCb(_("cbSessaoTipo"), eventoTipoSessoes, sessao ? sessao.idtiposessao : "0");
			preencherCb(_("cbSessaoVertical"), eventoVerticais, sessao ? sessao.idvertical : "0");
			$("#txtSessaoPublicoAlvo").val(sessao ? sessao.publico_alvo : "");
			$("#txtSessaoTags").val(sessao ? sessao.tags : "");
			$("#txtSessaoSenhaControle").val(sessao ? sessao.senhacontrole : "");
			$("#txtSessaoMensagemEsgotada").val(sessao ? sessao.mensagemesgotada : "");

			$("#cbSessaoTipoMultidata").val(sessao ? sessao.tipomultidata : "<%- TIPOMULTIDATA_NENHUM %>");
			$("#txtSessaoPresencaMinima").val(sessao ? sessao.presencaminima : "");
			if (sessao && sessao.multidatas && sessao.multidatas.length) {
				_("cbSessaoTipoMultidata").onchange();
				sessao.multidatas.sort(function (a, b) {
					var da = a.data.split("/"),
						db = b.data.split("/"),
						ia = (parseInt(da[2]) * 10000) + (parseInt(da[1]) * 100) + parseInt(da[0]),
						ib = (parseInt(db[2]) * 10000) + (parseInt(db[1]) * 100) + parseInt(db[0]);
					if (ia !== ib)
						return ia - ib;
					if (a.inicio < b.inicio)
						return -1;
					else if (a.inicio > b.inicio)
						return 1;
					return (a.termino < b.termino ? -1 : 1);
				});
				for (var i = 0; i < sessao.multidatas.length; i++)
					adicionarSessaoMultidata(sessao.multidatas[i]);
			}
		};

		//<% if (usuario) { %>
		prepareCbSearch(_("cbSessaoLocal"));
		//<% } %>
		prepareCbSearch(_("cbSessaoCurso"));
		prepareCbSearch(_("cbSessaoFormato"));
		prepareCbSearch(_("cbSessaoTipo"));
		prepareCbSearch(_("cbSessaoVertical"));
		_("cbSessaoLocal").onchange = function () {
			_("divSessaoUrlRemota").style.display = (localInternet(parseInt(_("cbSessaoLocal").value)) ? "" : "none");
		};
		_("cbSessaoTipoMultidata").onchange = function () {
			_("divSessaoPresencaMinima").style.display = ((_("cbSessaoTipoMultidata").value == "<%- TIPOMULTIDATA_MINIMO_EXIGIDO %>") ? "" : "none");
			_("divSessaoMultidata").style.display = ((_("cbSessaoTipoMultidata").value != "<%- TIPOMULTIDATA_NENHUM %>") ? "" : "none");
			formAlterarSessaoValidator.resetForm();
		};
		fixUrlOnBlur(_("txtSessaoUrlRemota"));

		function preencherDadosSessao(s) {
			var tmp = eventoLocaisPorIdEventoLocal[s.ideventolocal];
			s.idlocal = tmp.id;
			s.nome_local = tmp.nome;
			s.sigla_unidade = tmp.sigla_unidade;
			tmp = eventoCursosPorId[s.idcurso];
			s.nome_curso = tmp.nome;
			tmp = eventoFormatosPorId[s.idformato];
			s.nome_formato = tmp.nome;
			tmp = eventoTipoSessoesPorId[s.idtiposessao];
			s.nome_tipo = tmp.nome;
			tmp = eventoVerticaisPorId[s.idvertical];
			s.nome_vertical = tmp.nome;
		}

		formAlterarSessaoValidator = $("#formAlterarSessao").validate({
			rules: {
				cbSessaoLocal: {
					required: true
				},
				txtSessaoNome: {
					required: true,
					minlength: 3,
					maxlength: 100
				},
				txtSessaoNomeCurto: {
					maxlength: 45
				},
				txtSessaoData: regrasSessaoData,
				txtSessaoInicio: regrasSessaoInicio,
				txtSessaoTermino: regrasSessaoTermino,
				txtSessaoUrlRemota: {
					maxlength: 100,
					required: function () {
						// <% if (usuario) { %>
						return false;
						// <% } else { %>
						return false;
						//return (!!obterIdEventoLocalPadraoInternet() && parseInt(_("cbSessaoLocal").value) === obterIdEventoLocalPadraoInternet());
						// <% } %>
					}
				},
				txtSessaoDescricao: {
					maxlength: 200
				},
				txtSessaoAcomMinutos: {
					required: true,
					numeroDecimal: true
				},
				cbSessaoOculta: {
					required: true
				},
				cbSessaoSugestao: {
					required: true
				},
				cbSessaoCurso: {
					required: true
				},
				cbSessaoFormato: {
					required: true
				},
				cbSessaoTipo: {
					required: true
				},
				cbSessaoVertical: {
					required: true
				},
				txtSessaoPublicoAlvo: {
					maxlength: 100
				},
				txtSessaoTags: {
					maxlength: 100
				},
				txtSessaoSenhaControle: {
					maxlength: 45
				},
				txtSessaoMensagemEsgotada: {
					maxlength: 250
				},
				txtSessaoPresencaMinima: {
					required: function () {
						return ($("#cbSessaoTipoMultidata").val() == "<%- TIPOMULTIDATA_MINIMO_EXIGIDO %>");
					},
					number: true,
					min: 1,
					max: 120
				},
				//<% if (!usuario) { for (let i = 0; i < 6; i++) { %>
				"txtPalestranteNome<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteEmail<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmail<%- i %>": {
					maxlength: 100,
					email: true,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmpresa<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmail<%- i %>").val())); }
				},
				//<% } } %>
			},
			submitHandler: function (form) {
				if ($.active || JsonWebApi.active)
					return;

				var sessao, i, stags, s = {
					idevento: idevento,
					ideventolocal: parseInt($("#cbSessaoLocal").val()),
					nome: trim($("#txtSessaoNome").val().normalize()),
					nome_curto: trim($("#txtSessaoNomeCurto").val().normalize()),
					data: trim($("#txtSessaoData").val().normalize()),
					inicio: trim($("#txtSessaoInicio").val().normalize()),
					termino: trim($("#txtSessaoTermino").val().normalize()),
					url_remota: trim($("#txtSessaoUrlRemota").val().normalize()),
					descricao: trim($("#txtSessaoDescricao").val().normalize()),
					oculta: parseInt($("#cbSessaoOculta").val()),
					sugestao: parseInt($("#cbSessaoSugestao").val()),
					permiteinscricao: parseInt($("#cbSessaoPermiteInscricao").val()),
					acomminutos: (parseFloat($("#txtSessaoAcomMinutos").val().replace(",", ".")) * 60) | 0,
					idcurso: parseInt($("#cbSessaoCurso").val()),
					idformato: parseInt($("#cbSessaoFormato").val()),
					idtiposessao: parseInt($("#cbSessaoTipo").val()),
					idvertical: parseInt($("#cbSessaoVertical").val()),
					publico_alvo: trim($("#txtSessaoPublicoAlvo").val().normalize()),
					tags: trim($("#txtSessaoTags").val()).toUpperCase(),
					senhacontrole: trim($("#txtSessaoSenhaControle").val().normalize()),
					tipomultidata: parseInt($("#cbSessaoTipoMultidata").val()),
					presencaminima: parseInt(trim($("#txtSessaoPresencaMinima").val())) || 0,
					encontrostotais: 1,
					idspalestrante: [],
					multidatas: null
				};

				//<% if (!usuario) { %>
				s.url = trim($("#txtSessaoUrl").val());
				s.senha = trim($("#txtSessaoSenha").val());
				s.palestrantes = [
				//<% for (let i = 0; i < 6; i++) { %>
					{
						nome: trim($("#txtPalestranteNome<%- i %>").val()),
						email: trim($("#txtPalestranteEmail<%- i %>").val()),
						empresa: trim($("#txtPalestranteEmpresa<%- i %>").val()),
					},
				//<% } %>
				];
				//<% } else { %>
				s.mensagemesgotada = trim($("#txtSessaoMensagemEsgotada").val());
				//<% } %>

				if (!s.nome_curto)
					s.nome_curto = (s.nome.length <= 45 ? s.nome : s.nome.substr(0, 45));

				stags = s.tags.split(",");
				for (var i = 0; i < stags.length; i++) {
					stags[i] = trim(stags[i]);
					if (!stags[i]) {
						stags.splice(i, 1);
						i--;
					}
				}
				s.tags = stags.join(", ");

				if (s.tipomultidata != "<%- TIPOMULTIDATA_NENHUM %>") {
					s.multidatas = [];
					var trId, trs = _("tableSessaoMultidataBody").getElementsByTagName("tr");
					for (var i = 0; i < trs.length; i++) {
						trId = trs[i].getAttribute("data-id");
						s.multidatas.push({
							data: trim($("#txtSessaoData" + trId).val().normalize()),
							inicio: trim($("#txtSessaoInicio" + trId).val().normalize()),
							termino: trim($("#txtSessaoTermino" + trId).val().normalize()),
						});
					}
					s.encontrostotais = s.multidatas.length + 1;
				}

				Notification.wait();

				// <% if (usuario) { %>

				$("#tabelaSessaoPalestranteBody>tr").each(function (i, tr) { s.idspalestrante.push(parseInt(tr.getAttribute("data-id"))); });

				if (trSessaoClicada && (sessao = tabelaSessoes.row(trSessaoClicada).data())) {
					s.id = sessao.id;

					JsonWebApi.post("<%- root %>/api/sessao/alterar", s, function (response) {
						if (response.success) {
							// Quando status_integra vem do servidor como -1, é para utilizarmos o valor
							// atual da propriedade status_integra!
							var status_integra = parseInt(response.value[1]);
							if (status_integra >= 0)
								sessao.status_integra = status_integra;
							sessao.ideventolocal = s.ideventolocal;
							sessao.nome = s.nome;
							sessao.nome_curto = s.nome_curto;
							sessao.data = s.data;
							sessao.inicio = s.inicio;
							sessao.termino = s.termino;
							sessao.url_remota = s.url_remota;
							sessao.descricao = s.descricao;
							sessao.oculta = s.oculta;
							sessao.sugestao = s.sugestao;
							sessao.permiteinscricao = s.permiteinscricao;
							sessao.acomminutos = s.acomminutos;
							sessao.idcurso = s.idcurso;
							sessao.idformato = s.idformato;
							sessao.idtiposessao = s.idtiposessao;
							sessao.idvertical = s.idvertical;
							sessao.publico_alvo = s.publico_alvo;
							sessao.tags = s.tags;
							sessao.senhacontrole = s.senhacontrole;
							sessao.mensagemesgotada = s.mensagemesgotada;
							sessao.tipomultidata = s.tipomultidata;
							sessao.presencaminima = s.presencaminima;
							sessao.encontrostotais = s.encontrostotais;
							sessao.idspalestrante = s.idspalestrante;
							sessao.multidatas = s.multidatas;
							preencherDadosSessao(sessao);
							Notification.success("Sessão alterada com sucesso! " + emoji.happy);
							tabelaSessoes.row(trSessaoClicada).invalidate().draw();
							if (naoFecharModal) {
								naoFecharModal = false;
							} else {
								trSessaoClicada = null;
								$("#modalAlterarSessao").modal("hide");
							}
						} else {
							Notification.error(response.value, true);
						}
					});
				} else {

					// <% } %>

					JsonWebApi.post("<%- (usuario ? '/api/sessao/criar' : '/api/sessao/criarExterno') %>", s, function (response) {
						if (response.success) {
							limparSessaoMultidata();
							resetForm("#formAlterarSessao");
							_("cbSessaoTipoMultidata").value = "0";

							// <% if (usuario) { %>

							_("cbSessaoPermiteInscricao").value = "1";
							$("#tabelaSessaoPalestranteBody").empty();
							$("#tabelaSessaoPalestrante").hide();
							s.id = parseInt(response.value[0]);
							s.status_integra = parseInt(response.value[1]);
							s.inscritos = 0;
							s.presentes = 0;
							s.avaliacoes = "-";
							s.media = "-";
							preencherDadosSessao(s);
							eventoSessoesPorId[s.id] = s;
							eventoSessoes.push(s);
							tabelaSessoes.row.add(s).draw();
							$("#modalAlterarSessao").modal("hide");
							Notification.success("Sessão criada com sucesso! " + emoji.happy);

							// <% } else { %>

							_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
							_("divSessaoUrlRemota").style.display = "";
							Notification.success("Sugestão de sessão criada com sucesso! " + emoji.happy);

							// <% } %>

						} else {
							Notification.error(response.value, true);
						}
						// <% if (usuario) { %>
						trSessaoClicada = null;
						// <% } %>
					});

					// <% if (usuario) { %>
				}

				// <% } %>

			}
		});

		prepareDatePickerNumber("#txtSessaoData");
		$("#txtSessaoInicio").mask("00:00");
		$("#txtSessaoTermino").mask("00:00");
		$("#txtSessaoAcomMinutos").mask("0000,0", { reverse: true });
		$("#txtSessaoSenhaControle").mask("ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ", { translation: { Z: { pattern: /[A-Za-z0-9_\-]/, optional: true } } });

		//<% if (!usuario) { %>
		preencherFormSessao(null);
		_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
		_("divSessaoUrlRemota").style.display = "";
		//<% } %>
	});

	//]]>
</script>
