<div class="row">
	<div class="<%- (usuario ? 'col-xs-6 col-sm-3' : 'col-sm-4') %>">
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="cbSessaoData">Data</label>
			<select id="cbSessaoData" name="cbSessaoData" class="form-control upper" size="1">
				<% if (usuario) { %>
				<option value="">SELECIONE...</option>
				<% } %>
			</select>
		</div>
		<div class="<%- (usuario ? 'hidden' : 'form-group') %>">
			<label for="txtSessaoSugestaoData">Sugestão de Data</label>
			<input id="txtSessaoSugestaoData" name="txtSessaoSugestaoData" class="form-control" type="text" spellcheck="false" maxlength="11" />
		</div>
	</div>
	<div class="<%- (usuario ? 'col-xs-6 col-sm-3' : 'col-sm-4 col-xs-6') %>">
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="cbSessaoHorario">Horário</label>
			<select id="cbSessaoHorario" name="cbSessaoHorario" class="form-control upper" size="1">
				<% if (usuario) { %>
				<option value="">SELECIONE...</option>
				<% } %>
			</select>
		</div>
		<div class="<%- (usuario ? 'hidden' : 'form-group') %>">
			<label for="txtSessaoSugestaoInicio">Sugestão de Horário de Início</label>
			<input id="txtSessaoSugestaoInicio" name="txtSessaoSugestaoInicio" class="form-control" type="text" spellcheck="false" maxlength="5" />
		</div>
	</div>
	<div class="<%- (usuario ? 'col-xs-6 col-sm-3' : 'col-xs-6 col-sm-4') %>">
		<div class="<%- (usuario ? 'form-group' : 'hidden') %>">
			<label for="cbSessaoLocal">Local</label>
			<select id="cbSessaoLocal" name="cbSessaoLocal" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
		</div>
		<div class="<%- (usuario ? 'hidden' : 'form-group') %>">
			<label for="txtSessaoSugestaoTermino">Sugestão de Horário de Término</label>
			<input id="txtSessaoSugestaoTermino" name="txtSessaoSugestaoTermino" class="form-control" type="text" spellcheck="false" maxlength="5" />
		</div>
	</div>
	<div class="<%- (usuario ? 'col-xs-6 col-sm-3' : 'hidden') %>">
		<div class="form-group">
			<label for="cbSessaoSugestao">Sugestão</label>
			<select id="cbSessaoSugestao" name="cbSessaoSugestao" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
		</div>
	</div>
</div>
<div class="form-group" id="divSessaoUrlRemota" style="display: none;">
	<label for="txtSessaoUrlRemota">URL da Sessão Remota (link do Zoom, Teams etc...) <small><i>(http://... ou https://...)</i></small></label>
	<input id="txtSessaoUrlRemota" name="txtSessaoUrlRemota" type="url" class="form-control" maxlength="100" spellcheck="false" />
</div>
<div class="form-group">
	<label for="txtSessaoNome">Nome</label>
	<input id="txtSessaoNome" name="txtSessaoNome" type="text" class="form-control" maxlength="100" />
</div>
<div class="row">
	<div class="<%- (usuario ? 'col-sm-3' : 'col-sm-4') %>">
		<div class="form-group">
			<label for="txtSessaoNomeCurto">Nome Curto</label>
			<input id="txtSessaoNomeCurto" name="txtSessaoNomeCurto" type="text" class="form-control" maxlength="45" />
		</div>
	</div>
	<div class="<%- (usuario ? 'col-sm-3' : 'hidden') %>">
		<div class="form-group">
			<label for="cbSessaoOculta">Oculta</label>
			<select id="cbSessaoOculta" name="cbSessaoOculta" class="form-control upper" size="1"><option value="0">NÃO</option><option value="1">SIM</option></select>
		</div>
	</div>
	<div class="<%- (usuario ? 'col-sm-3' : 'col-sm-4') %>">
		<div class="form-group">
			<label for="cbSessaoPermiteInscricao">Permite Inscrição</label>
			<select id="cbSessaoPermiteInscricao" name="cbSessaoPermiteInscricao" class="form-control upper" size="1"><option value="1" selected="selected">SIM</option><option value="0">NÃO</option></select>
		</div>
	</div>
	<div class="<%- (usuario ? 'col-sm-3' : 'col-sm-4') %>">
		<div class="form-group">
			<label for="cbSessaoPermiteAcom">Permite ACOM</label>
			<select id="cbSessaoPermiteAcom" name="cbSessaoPermiteAcom" class="form-control upper" size="1"><option value="1" selected="selected">SIM</option><option value="0">NÃO</option></select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="cbSessaoCurso">Âncora</label>
			<select id="cbSessaoCurso" name="cbSessaoCurso" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="cbSessaoFormato">Formato</label>
			<select id="cbSessaoFormato" name="cbSessaoFormato" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="cbSessaoTipo">Tipo de Sessão</label>
			<select id="cbSessaoTipo" name="cbSessaoTipo" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="cbSessaoVertical">Vertical</label>
			<select id="cbSessaoVertical" name="cbSessaoVertical" class="form-control upper" size="1"><option value="">SELECIONE...</option></select>
		</div>
	</div>
</div>
<div class="form-group">
	<label for="txtSessaoDescricao">Descrição</label>
	<textarea id="txtSessaoDescricao" name="txtSessaoDescricao" class="form-control" maxlength="200" rows="4"></textarea>
</div>
<div class="form-group">
	<label for="txtSessaoPublicoAlvo">Público-Alvo</label>
	<input id="txtSessaoPublicoAlvo" name="txtSessaoPublicoAlvo" type="text" class="form-control" maxlength="100" />
</div>
<div class="form-group">
	<label for="txtSessaoTags">Tags <small>(Separadas por vírgula)</small></label>
	<input id="txtSessaoTags" name="txtSessaoTags" type="text" class="form-control upper" maxlength="100" />
</div>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	// Como não podemos utilizar o contentFor("scripts"), porque o alterar.ejs
	// será utilizado como include para outra página, precisamos executar a
	// função apenas quando o documento estiver ok
	$(function () {
		var idevento = <%- idevento %>, idEventoLocalPadraoInternet = 0;
		carregarLocais(<%- eventoLocais %>, <%- locais %>);
		carregarCursos(<%- cursos %>);
		carregarFormatos(<%- formatos %>);
		carregarTipoSessoes(<%- tipoSessoes %>);
		carregarVerticais(<%- verticais %>);

		window.localInternet = function (ideventolocal) {
			var i, local = null;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].ideventolocal === ideventolocal) {
					local = eventoLocais[i];
					break;
				}
			}
			return (local && local.idunidade === -1);
		};

		window.obterIdEventoLocalPadraoInternet = function () {
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			var i;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].id === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			if (idEventoLocalPadraoInternet)
				return idEventoLocalPadraoInternet;
			for (i = eventoLocais.length - 1; i >= 0; i--) {
				if (eventoLocais[i].idunidade === -1) {
					idEventoLocalPadraoInternet = eventoLocais[i].ideventolocal;
					break;
				}
			}
			return idEventoLocalPadraoInternet;
		};

		window.preencherFormSessao = function (sessao) {
			preencherCb(_("cbSessaoData"), eventoDatas, sessao ? sessao.ideventodata : "0", function (e) { return format2(e.dia) + "/" + format2(e.mes) + "/" + e.ano; }, null, <%- (usuario ? "false" : "true") %>);
			preencherCb(_("cbSessaoHorario"), eventoHorarios, sessao ? sessao.ideventohorario : "0", function (e) { return e.inicio + " - " + e.termino; }, null, <%- (usuario ? "false" : "true") %>);
			preencherCb(_("cbSessaoLocal"), eventoLocais, sessao ? sessao.ideventolocal : "0", function (e) { return e.nome + " (" + e.sigla_unidade + ")"; }, "ideventolocal", <%- (usuario ? "false" : "true") %>);
			$("#txtSessaoNome").val(sessao ? sessao.nome : "");
			$("#txtSessaoNomeCurto").val(sessao ? sessao.nome_curto : "");
			_("divSessaoUrlRemota").style.display = ((sessao && localInternet(sessao.ideventolocal)) ? "" : "none");
			$("#txtSessaoUrlRemota").val(sessao ? sessao.url_remota : "");
			$("#txtSessaoDescricao").val(sessao ? sessao.descricao : "");
			$("#cbSessaoOculta").val(sessao ? sessao.oculta : "0");
			$("#cbSessaoSugestao").val(sessao ? sessao.sugestao : "0");
			$("#cbSessaoPermiteInscricao").val(sessao ? sessao.permiteinscricao : "1");
			$("#cbSessaoPermiteAcom").val(sessao ? sessao.permiteacom : "1");
			preencherCb(_("cbSessaoCurso"), eventoCursos, sessao ? sessao.idcurso : "0");
			preencherCb(_("cbSessaoFormato"), eventoFormatos, sessao ? sessao.idformato : "0");
			preencherCb(_("cbSessaoTipo"), eventoTipoSessoes, sessao ? sessao.idtiposessao : "0");
			preencherCb(_("cbSessaoVertical"), eventoVerticais, sessao ? sessao.idvertical : "0");
			$("#txtSessaoPublicoAlvo").val(sessao ? sessao.publico_alvo : "");
			$("#txtSessaoTags").val(sessao ? sessao.tags : "");
		};

		//<% if (usuario) { %>
		prepareCbSearch(_("cbSessaoData"));
		prepareCbSearch(_("cbSessaoHorario"));
		prepareCbSearch(_("cbSessaoLocal"));
		//<% } %>
		prepareCbSearch(_("cbSessaoCurso"));
		prepareCbSearch(_("cbSessaoFormato"));
		prepareCbSearch(_("cbSessaoTipo"));
		prepareCbSearch(_("cbSessaoVertical"));
		_("cbSessaoLocal").onchange = function () {
			_("divSessaoUrlRemota").style.display = (localInternet(parseInt(_("cbSessaoLocal").value)) ? "" : "none");
		};
		fixUrlOnBlur(_("txtSessaoUrlRemota"));

		function preencherDadosSessao(s) {
			var tmp = eventoDatasPorId[s.ideventodata];
			s.data = format2(tmp.dia) + "/" + format2(tmp.mes) + "/" + tmp.ano;
			tmp = eventoHorariosPorId[s.ideventohorario];
			s.inicio = tmp.inicio;
			s.termino = tmp.termino;
			tmp = eventoLocaisPorIdEventoLocal[s.ideventolocal];
			s.idlocal = tmp.id;
			s.nome_local = tmp.nome;
			s.sigla_unidade = tmp.sigla_unidade;
			tmp = eventoCursosPorId[s.idcurso];
			s.nome_curso = tmp.nome;
			tmp = eventoFormatosPorId[s.idformato];
			s.nome_formato = tmp.nome;
			tmp = eventoTipoSessoesPorId[s.idtiposessao];
			s.nome_tipo = tmp.nome;
			tmp = eventoVerticaisPorId[s.idvertical];
			s.nome_vertical = tmp.nome;
		}

		$("#formAlterarSessao").validate({
			rules: {
				cbSessaoData: {
					required: true
				},
				cbSessaoHorario: {
					required: true
				},
				cbSessaoLocal: {
					required: true
				},
				txtSessaoSugestaoData: {
					maxlength: 11,
					required: <%- (usuario ? "false" : "true") %>
				},
				txtSessaoSugestaoInicio: {
					maxlength: 5,
					required: <%- (usuario ? "false" : "true") %>
				},
				txtSessaoSugestaoTermino: {
					maxlength: 5,
					required: <%- (usuario ? "false" : "true") %>
				},
				txtSessaoNome: {
					required: true,
					minlength: 3,
					maxlength: 100
				},
				txtSessaoNomeCurto: {
					maxlength: 45
				},
				txtSessaoUrlRemota: {
					maxlength: 100,
					required: function () {
						// <% if (usuario) { %>
						return false;
						// <% } else { %>
						return false;
						//return (!!obterIdEventoLocalPadraoInternet() && parseInt(_("cbSessaoLocal").value) === obterIdEventoLocalPadraoInternet());
						// <% } %>
					}
				},
				txtSessaoDescricao: {
					maxlength: 200
				},
				cbSessaoPermiteAcom: {
					required: true
				},
				cbSessaoOculta: {
					required: true
				},
				cbSessaoSugestao: {
					required: true
				},
				cbSessaoCurso: {
					required: true
				},
				cbSessaoFormato: {
					required: true
				},
				cbSessaoTipo: {
					required: true
				},
				cbSessaoVertical: {
					required: true
				},
				txtSessaoPublicoAlvo: {
					maxlength: 100
				},
				txtSessaoTags: {
					maxlength: 100
				},
				//<% if (!usuario) { for (let i = 0; i < 6; i++) { %>
				"txtPalestranteNome<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteEmail<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmail<%- i %>": {
					maxlength: 100,
					email: true,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmpresa<%- i %>").val())); }
				},
				"txtPalestranteEmpresa<%- i %>": {
					maxlength: 100,
					required: function () { return (!!trim($("#txtPalestranteNome<%- i %>").val()) || !!trim($("#txtPalestranteEmail<%- i %>").val())); }
				},
				//<% } } %>
			},
			submitHandler: function (form) {
				if ($.active || JsonWebApi.active)
					return;

				var sessao, i, stags, s = {
					idevento: idevento,
					ideventodata: parseInt($("#cbSessaoData").val()),
					ideventohorario: parseInt($("#cbSessaoHorario").val()),
					ideventolocal: parseInt($("#cbSessaoLocal").val()),
					nome: trim($("#txtSessaoNome").val()),
					nome_curto: trim($("#txtSessaoNomeCurto").val()),
					url_remota: trim($("#txtSessaoUrlRemota").val()),
					descricao: trim($("#txtSessaoDescricao").val()),
					oculta: parseInt($("#cbSessaoOculta").val()),
					sugestao: parseInt($("#cbSessaoSugestao").val()),
					permiteinscricao: parseInt($("#cbSessaoPermiteInscricao").val()),
					permiteacom: parseInt($("#cbSessaoPermiteAcom").val()),
					idcurso: parseInt($("#cbSessaoCurso").val()),
					idformato: parseInt($("#cbSessaoFormato").val()),
					idtiposessao: parseInt($("#cbSessaoTipo").val()),
					idvertical: parseInt($("#cbSessaoVertical").val()),
					publico_alvo: trim($("#txtSessaoPublicoAlvo").val()),
					tags: trim($("#txtSessaoTags").val()).toUpperCase(),
					idspalestrante: []
				};

				//<% if (!usuario) { %>
				s.url = trim($("#txtSessaoUrl").val());
				s.senha = trim($("#txtSessaoSenha").val());
				s.descricao = "Sugestão de Data: " + trim($("#txtSessaoSugestaoData").val()) + "\n" +
					"Sugestão de Horário: " + trim($("#txtSessaoSugestaoInicio").val()) + " - " + trim($("#txtSessaoSugestaoTermino").val()) + "\n" +
					s.descricao;
				s.palestrantes = [
				//<% for (let i = 0; i < 6; i++) { %>
					{
						nome: trim($("#txtPalestranteNome<%- i %>").val()),
						email: trim($("#txtPalestranteEmail<%- i %>").val()),
						empresa: trim($("#txtPalestranteEmpresa<%- i %>").val()),
					},
				//<% } %>
				];
				//<% } %>

				if (!s.nome_curto)
					s.nome_curto = (s.nome.length <= 45 ? s.nome : s.nome.substr(0, 45));

				stags = s.tags.split(",");
				for (var i = 0; i < stags.length; i++) {
					stags[i] = trim(stags[i]);
					if (!stags[i]) {
						stags.splice(i, 1);
						i--;
					}
				}
				s.tags = stags.join(", ");

				Notification.wait();

				// <% if (usuario) { %>

				$("#tabelaSessaoPalestranteBody>tr").each(function (i, tr) { s.idspalestrante.push(parseInt(tr.getAttribute("data-id"))); });

				if (trSessaoClicada && (sessao = tabelaSessoes.row(trSessaoClicada).data())) {
					s.id = sessao.id;

					JsonWebApi.post("<%- root %>/api/sessao/alterar", s, function (response) {
						if (response.success) {
							sessao.ideventodata = s.ideventodata;
							sessao.ideventohorario = s.ideventohorario;
							sessao.ideventolocal = s.ideventolocal;
							sessao.nome = s.nome;
							sessao.nome_curto = s.nome_curto;
							sessao.url_remota = s.url_remota;
							sessao.descricao = s.descricao;
							sessao.oculta = s.oculta;
							sessao.sugestao = s.sugestao;
							sessao.permiteinscricao = s.permiteinscricao;
							sessao.permiteacom = s.permiteacom;
							sessao.idcurso = s.idcurso;
							sessao.idformato = s.idformato;
							sessao.idtiposessao = s.idtiposessao;
							sessao.idvertical = s.idvertical;
							sessao.publico_alvo = s.publico_alvo;
							sessao.tags = s.tags;
							sessao.idspalestrante = s.idspalestrante;
							preencherDadosSessao(sessao);
							Notification.success("Sessão alterada com sucesso! " + emoji.happy);
							tabelaSessoes.row(trSessaoClicada).invalidate().draw();
							if (naoFecharModal) {
								naoFecharModal = false;
							} else {
								trSessaoClicada = null;
								$("#modalAlterarSessao").modal("hide");
							}
						} else {
							Notification.error(response.value, true);
						}
					});
				} else {

					// <% } %>

					JsonWebApi.post("<%- (usuario ? '/api/sessao/criar' : '/api/sessao/criarExterno') %>", s, function (response) {
						if (response.success) {
							resetForm("#formAlterarSessao");

							// <% if (usuario) { %>

							_("cbSessaoPermiteInscricao").value = "1";
							_("cbSessaoPermiteAcom").value = "1";
							$("#tabelaSessaoPalestranteBody").empty();
							$("#tabelaSessaoPalestrante").hide();
							s.id = parseInt(response.value);
							s.inscritos = 0;
							s.presentes = 0;
							s.avaliacoes = "-";
							s.media = "-";
							preencherDadosSessao(s);
							eventoSessoesPorId[s.id] = s;
							eventoSessoes.push(s);
							Notification.success("Sessão criada com sucesso! " + emoji.happy);
							tabelaSessoes.row.add(s).draw();

							// <% } else { %>

							_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
							_("divSessaoUrlRemota").style.display = "";
							Notification.success("Sugestão de sessão criada com sucesso! " + emoji.happy);

							// <% } %>

						} else {
							Notification.error(response.value, true);
						}
						// <% if (usuario) { %>
						trSessaoClicada = null;
						// <% } %>
					});

					// <% if (usuario) { %>
				}

				// <% } %>

			}
		});

		//<% if (!usuario) { %>
		preencherFormSessao(null);
		prepareDatePickerNumber("#txtSessaoSugestaoData");
		$("#txtSessaoSugestaoInicio").mask("00:00");
		$("#txtSessaoSugestaoTermino").mask("00:00");
		_("cbSessaoLocal").value = obterIdEventoLocalPadraoInternet();
		_("divSessaoUrlRemota").style.display = "";
		//<% } %>
	});

	//]]>
</script>
