
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body dataTable_wrapper">
				<div class="col-xs-space-bottom">
					<button class="btn btn-primary" type="button" onclick="criarSessao()"><i class="fa fa-plus"></i>Criar Sessão...</button>
				</div>
				<div class="col-xs-space-bottom text-center">
					<button class="btn btn-primary btn-outline" type="button" onclick="mostrarGridData()"><i class="fa fa-table"></i>Exibir Grade...</button>
					<button class="btn btn-primary btn-outline" type="button" onclick="mostrarGridInscritosGeral()"><i class="fa fa-users"></i>Exibir Participantes e Presenças...</button>
					<button class="btn btn-primary btn-outline" type="button" onclick="mostrarGridAvaliacoesEMedias()"><i class="fa fa-thumbs-o-up"></i>Exibir Avaliações e Comentários...</button>
					<button class="btn btn-primary btn-outline" type="button" onclick="mostrarGridPalestrantesGeral()"><i class="fa fa-microphone"></i>Exibir Palestrantes...</button>
				</div>
				<div class="col-xs-space-bottom text-center">
					<button class="btn btn-primary btn-outline" type="button" onclick="listarInscricoesEPresencas()"><i class="fa fa-refresh"></i>Atualizar Inscrições e Presenças...</button>
					<button class="btn btn-primary btn-outline" type="button" onclick="listarAvaliacoesEMedias()"><i class="fa fa-refresh"></i>Atualizar Avaliações e Médias...</button>
				</div>
				<div class="col-xs-space-bottom text-center"><b id="lblInscricoesEPresencas"></b></div>
				<table class="table table-striped table-hover" id="tabela-sessoes"></table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAlterarSessao">
	<div class="modal-dialog modal-flex" role="document">
		<form class="modal-content" id="formAlterarSessao" method="post">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Sessão</h4>
			</div>
			<div class="modal-body">
				<%- include("alterar-sessao") %>
				<div class="panel panel-default no-margin-bottom">
					<div class="panel-heading">
						Palestrantes
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-3 col-sm-space-bottom">
								<button class="btn btn-primary btn-block" type="button" onclick="criarEAdicionarNovoPalestrante()"><i class="fa fa-plus"></i>Criar Novo</button>
							</div>
							<div class="col-sm-3 col-sm-space-bottom">
								<input id="txtSessaoPalestranteNovoNome" name="txtSessaoPalestranteNovoNome" class="form-control" type="text" maxlength="100" spellcheck="false" placeholder="NOME" />
							</div>
							<div class="col-sm-3 col-sm-space-bottom">
								<input id="txtSessaoPalestranteNovoEmail" name="txtSessaoPalestranteNovoEmail" class="form-control upper" type="email" maxlength="100" spellcheck="false" placeholder="E-MAIL" />
							</div>
							<div class="col-sm-3">
								<input id="txtSessaoPalestranteNovoEmpresa" name="txtSessaoPalestranteNovoEmpresa" class="form-control" type="text" maxlength="100" spellcheck="false" placeholder="EMPRESA" />
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-sm-4 col-sm-space-bottom">
								<button class="btn btn-primary btn-block" type="button" onclick="adicionarPalestrante()"><i class="fa fa-plus"></i>Adicionar</button>
							</div>
							<div class="col-sm-8">
								<select id="cbSessaoPalestrante" name="cbSessaoPalestrante" class="form-control" size="1"><option value="">SELECIONE...</option></select>
							</div>
						</div>
						<div class="table-responsive">
							<table id="tabelaSessaoPalestrante" class="table table-striped table-hover no-margin-bottom" style="display: none;">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th class="col-50">Nome</th>
										<th class="col-50">E-mail</th>
										<th class="col-25">Empresa</th>
										<th class="col-min text-right">Aceite</th>
									</tr>
								</thead>
								<tbody id="tabelaSessaoPalestranteBody" class="content-section"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i><span id="lblAlterarSessao">Criar Sessão</span></button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancelar</button>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalExcluirSessao">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Oops...</h4>
			</div>
			<div class="modal-body">
				<p>
					Tem certeza que deseja excluir a sessão <span id="lblExcluirSessao"></span>? Esta operação <b class="col-h">NÃO</b> pode ser desfeita!
					<br />
					<b class="col-h">Se houver inscritos na sessão, suas inscrições também serão excluídas!</b>
				</p>
				<p>
					Para confirmar a exclusão, por favor, digite abaixo o nome da sessão conforme exibido acima:
				</p>
				<div class="form-group">
					<label for="txtModalExcluirSessao">Nome da sessão</label>
					<input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtModalExcluirSessao" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="excluirSessao()"><i class="fa fa-check"></i>Excluir</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalLinkSessao">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Link</h4>
			</div>
			<div class="modal-body">
				<div class="col-xs-space-bottom"><button id="btnLinkSessao" type="button" class="btn btn-primary"><i class="fa fa-copy"></i>Copiar</button></div>
				<a id="aLinkSessao" href="#" target="_blank" style="word-break: break-all;"></a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="grid-data" id="modalGridData" style="display: none"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalGridDataDialog">
	<div class="modal-dialog modal-flex" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalGridDataDialogTitle">Grade de Alocações</h4>
			</div>
			<div class="modal-body" id="modalGridDataDialogBody"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	// Como não podemos utilizar o contentFor("scripts"), porque o alterar.ejs
	// será utilizado como include para outra página, precisamos executar a
	// função apenas quando o documento estiver ok
	$(function () {
		var idevento = <%- idevento %>;
		var extensaoImagem = "<%- extensaoImagem %>";
		carregarEmpresas(<%- empresas %>);
		carregarPalestrantes(<%- palestrantes %>);
		var totalIP = carregarSessoes(<%- sessoes %>, <%- presencas %>);
		var gridDataFadeRodando = false;
		var modalGridDataSelect, modalGridDataBody, modalGridDataTable, modalGridDataLocal, modalGridDataHorario, modalGridDataCanto;
		var aceites, clonar;

		window.tabelaSessoes = prepareDataTable("tabela-sessoes", {
			order: [],
			deferRender: true,
			columns: [
				{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return "<button title=\"Editar\" type=\"button\" class=\"btn btn-outline btn-primary\"><i class=\"fa fa-nomargin fa-edit\"></i></button> <button title=\"Clonar\" type=\"button\" data-clonar=\"1\" class=\"btn btn-outline btn-default\"><i class=\"fa fa-nomargin fa-copy\"></i></button> <button title=\"Link de Compartilhamento\" type=\"button\" data-share=\"1\" class=\"btn btn-outline btn-default\"><i class=\"fa fa-nomargin fa-share-alt\"></i></button> <button title=\"Link de Controle de Presença\" type=\"button\" data-presenca=\"1\" class=\"btn btn-outline btn-default\"><i class=\"fa fa-nomargin fa-check-square-o\"></i></button> <button title=\"Excluir\" type=\"button\" data-excluir=\"1\" class=\"btn btn-outline btn-danger\"><i class=\"fa fa-nomargin fa-times\"></i></button>"; } },
				{ title: "Nome", render: encode, data: "nome" },
				{
					title: "Palestrantes", data: function (row, type, set, meta) {
						var i, nomes = "", p, n, ids = row.idspalestrante;
						if (ids && eventoPalestrantesPorId) {
							for (i = 0; i < ids.length; i++) {
								p = eventoPalestrantesPorId[ids[i]];
								if (!p || (!(n = p.nome_curto) && !(n = p.nome)))
									continue;
								if (nomes)
									nomes += ", ";
								nomes += encode(n);
							}
						}
						return nomes;
					}
				},
				{ title: "Oculta", "class": "col-min", data: function (row, type, set, meta) { return (row.oculta ? "<span class=\"col-h\">OCULTA</span>" : ""); } },
				{ title: "Sugestão", "class": "col-min", data: function (row, type, set, meta) { return (row.sugestao ? "<span class=\"col-h\">SUGESTÃO</span>" : ""); } },
				{ title: "Secretaria", "class": "col-min", data: function (row, type, set, meta) { return (row.status_integra == 1 ? "APROVADO" : (row.status_integra == 2 ? "<span class=\"col-h\">REPROVADO</span>" : "<span class=\"col-h2\">PENDENTE</span>")); } },
				{ title: "Lotada", "class": "col-min text-center", data: function (row, type, set, meta) { var local = eventoLocaisPorIdEventoLocal[row.ideventolocal]; return ((local && row.inscritos >= local.capacidade) ? "<span class=\"col-h\">LOTADA</span>" : ""); } },
				{ title: "Inscrições", "class": "col-min text-right", "type": "number", data: "inscritos" },
				{ title: "Presenças", "class": "col-min text-right", "type": "number", data: "presentes" },
				{ title: "Avaliações", "class": "col-min text-right", "type": "number", data: "avaliacoes" },
				{ title: "Nota Média", "class": "text-right", "type": "number", data: "media" },
				{ title: "Capacidade Real", "class": "text-right", "type": "number", data: function (row, type, set, meta) { var local = eventoLocaisPorIdEventoLocal[row.ideventolocal]; return (local ? local.capacidade_real : 0); } },
				{ title: "Capacidade Alocada", "class": "text-right", "type": "number", data: function (row, type, set, meta) { var local = eventoLocaisPorIdEventoLocal[row.ideventolocal]; return (local ? local.capacidade : 0); } },
				{ title: "Data", "class": "col-min text-right", "type": "customdateint", data: "data" },
				{ title: "Início", "class": "col-min text-right", data: "inicio" },
				{ title: "Término", "class": "col-min text-right", data: "termino" },
				{ title: "Unidade", render: encode, data: "sigla_unidade" },
				{ title: "Local", render: encode, data: "nome_local" },
				{ title: "URL Remota", data: function (row, type, set, meta) { return (row.url_remota ? ('<a target="_blank" class="link-curto" href="' + row.url_remota + '">' + row.url_remota + '</a>') : ''); } },
				{ title: "Âncora", render: encode, data: "nome_curso" },
				{ title: "ACOM", "class": "col-min text-center", data: function (row, type, set, meta) { return (row.permiteacom ? "ACOM" : "-"); } },
				{ title: "Formato", render: encode, data: "nome_formato" },
				{ title: "Tipo", render: encode, data: "nome_tipo" },
				{ title: "Vertical", render: encode, data: "nome_vertical" },
				{ title: "Público-Alvo", render: encode, data: "publico_alvo" },
				{ title: "Tags", render: encode, data: "tags" },
				{ title: "Link de Compartilhamento", data: function (row, type, set, meta) { var str = gerarLinkDeCompartilhamento(row.nome); return '<a target="_blank" class="link-curto" href="' + str + '">' + str + '</a>'; } },
			],
			data: eventoSessoes,
			export: { title: "Sessões do Evento" }
		});

		window.listarInscricoesEPresencas = function () {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/evento/listarInscricoesEPresencas", function (response) {
				if (response.success) {
					Notification.success("Informações atualizadas com sucesso! " + emoji.happy);

					atualizarInscricoesEPresencas(response.value);

					tabelaSessoes.rows().invalidate().draw();
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		};

		window.listarAvaliacoesEMedias = function () {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/evento/listarAvaliacoesEMedias", function (response) {
				if (response.success) {
					Notification.success("Informações atualizadas com sucesso! " + emoji.happy);

					atualizarAvaliacoesEMedias(response.value);

					tabelaSessoes.rows().invalidate().draw();
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		};

		window.adicionarPalestrante = function (id) {
			if ($.active || JsonWebApi.active)
				return;

			var salvar = false;
			if (!id) {
				id = parseInt($("#cbSessaoPalestrante").val());
				salvar = true;
			}

			var palestrante = eventoPalestrantesPorId[id];

			if (!palestrante || $("#tabelaSessaoPalestranteBody [data-id=" + id + "]").length)
				return;

			$("#tabelaSessaoPalestranteBody").append(
				'<tr class="ui-sortable-handle" data-id="' + id + '">' +
				'<td class="col-min content-enum"></td>' +
				'<td class="col-min"><button type="button" title="Excluir" class="btn btn-outline btn-danger" onclick="removerPalestrante(this)"><i class="fa fa-nomargin fa-trash-o"></i></button></td>' +
				'<td class="col-min"><img alt="Imagem da Palestrante" style="max-width: 100px; max-height: 75px;" src="<%- root %>/evt/' + idevento + '/palestrantes/' + id + '.' + extensaoImagem + '?v=' + palestrante.versao + '"></td>' +
				'<td class="col-50">' + encode(palestrante.nome) + '</td>' +
				'<td class="col-50">' + encode(palestrante.email) + '</td>' +
				'<td class="col-25">' + encode(palestrante.nome_empresa) + '</td>' +
				'<td class="col-min text-right">' + ((aceites && aceites[palestrante.id]) || "-") + "</td>" +
				'</tr>');

			$("#tabelaSessaoPalestrante").show();

			if (trSessaoClicada && salvar) {
				naoFecharModal = true;
				$("#formAlterarSessao").submit();
			}
		};

		window.removerPalestrante = function (btn) {
			if ($.active || JsonWebApi.active)
				return;

			var tr = btn.parentNode.parentNode,
				tabelaSessaoPalestranteBody = tr.parentNode;

			tabelaSessaoPalestranteBody.removeChild(tr);

			if (!tabelaSessaoPalestranteBody.childNodes.length)
				$("#tabelaSessaoPalestrante").hide();

			if (trSessaoClicada) {
				naoFecharModal = true;
				$("#formAlterarSessao").submit();
			}
		};

		window.trSessaoClicada = null;
		window.naoFecharModal = false;

		prepareCbSearch(_("cbSessaoPalestrante"));
		$("#tabelaSessaoPalestranteBody").sortable().disableSelection();
		prepareCopyHandler(_("modalLinkSessao"), "#btnLinkSessao");

		$("#modalAlterarSessao").on("show.bs.modal", function () {
			var i, sessao = (trSessaoClicada ? tabelaSessoes.row(trSessaoClicada).data() : null);
			preencherFormSessao(sessao);
			preencherCb(_("cbSessaoPalestrante"), eventoPalestrantes, "0");
			$("#tabelaSessaoPalestranteBody").empty();
			$("#tabelaSessaoPalestrante").hide();
			if (clonar) {
				trSessaoClicada = null;
				aceites = null;
			}
			if (sessao) {
				for (i = 0; i < sessao.idspalestrante.length; i++)
					adicionarPalestrante(sessao.idspalestrante[i]);
			}
		});

		$("#modalAlterarSessao").on("shown.bs.modal", function () {
			$("#cbSessaoData").focus();
		});

		$("#tabela-sessoes").on("click", "tbody button", function () {
			if ($.active || JsonWebApi.active)
				return;

			var a, str, sessao = tabelaSessoes.row(trSessaoClicada = this.parentNode.parentNode).data();

			if (this.getAttribute("data-excluir")) {
				$("#lblExcluirSessao").text(sessao.nome);

				$("#txtModalExcluirSessao").val("");

				$("#modalExcluirSessao").modal({
					backdrop: "static",
					keyboard: true
				});
			} else if (this.getAttribute("data-share")) {
				str = gerarLinkDeCompartilhamento(sessao.nome);

				a = _("aLinkSessao");
				a.setAttribute("href", str);
				a.textContent = str;

				a = _("btnLinkSessao");
				a.setAttribute("data-clipboard-text", str);

				$("#modalLinkSessao").modal({
					backdrop: "static",
					keyboard: true
				});
			} else if (this.getAttribute("data-presenca")) {
				if (!sessao.senhacontrole) {
					Notification.error("A senha do controle de presença está em branco " + emoji.sad, true);
					return;
				}
				str = gerarLinkDeControleDePresenca(sessao.id, sessao.senhacontrole);

				a = _("aLinkSessao");
				a.setAttribute("href", str);
				a.textContent = str;

				a = _("btnLinkSessao");
				a.setAttribute("data-clipboard-text", str);

				$("#modalLinkSessao").modal({
					backdrop: "static",
					keyboard: true
				});
			} else {
				clonar = this.getAttribute("data-clonar");

				resetForm("#formAlterarSessao");

				aceites = null;

				if (clonar) {
					$("#lblAlterarSessao").text("Criar Sessão");

					$("#modalAlterarSessao").modal({
						backdrop: "static",
						keyboard: true
					});
				} else {

					Notification.wait();

					$("#lblAlterarSessao").text("Salvar Alterações");

					JsonWebApi.get("<%- root %>/api/sessao/listarAceites", function (response) {
						if (response.success) {
							Notification.hide();
							if (response.value && response.value.length) {
								aceites = {};
								for (var i = response.value.length - 1; i >= 0; i--)
									aceites[response.value[i].ideventopalestrante] = response.value[i].aceite;
							}
							$("#modalAlterarSessao").modal({
								backdrop: "static",
								keyboard: true
							});
						} else {
							Notification.error("Não foi possível obter o estado de aceite dos palestrantes " + emoji.sad, true);
						}
					}, "id", sessao.id);
				}
			}
		});

		window.criarSessao = function () {
			if ($.active || JsonWebApi.active)
				return;

			trSessaoClicada = null;
			aceites = null;

			resetForm("#formAlterarSessao");

			$("#lblAlterarSessao").text("Criar Sessão");

			$("#modalAlterarSessao").modal({
				backdrop: "static",
				keyboard: true
			});
		};

		window.excluirSessao = function () {
			if ($.active || JsonWebApi.active || !trSessaoClicada)
				return;

			var sessao = tabelaSessoes.row(trSessaoClicada).data();

			var nome = $("#txtModalExcluirSessao").val().toUpperCase();
			if (nome !== sessao.nome.toUpperCase()) {
				Notification.error("O nome da sessão não confere", true);
				return;
			}

			$("#modalExcluirSessao").modal("hide");

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/sessao/excluir", function (response) {
				if (response.success) {
					delete eventoSessoesPorId[sessao.id];
					for (var i = eventoSessoes.length - 1; i >= 0; i--) {
						if (eventoSessoes[i].id === sessao.id) {
							eventoSessoes.splice(i, 1);
							break;
						}
					}
					Notification.success("Sessão excluída com sucesso! " + emoji.happy);
					tabelaSessoes.row(trSessaoClicada).remove().draw();
				} else {
					Notification.error(response.value, true);
				}
				trSessaoClicada = null;
			}, "id", sessao.id);
		};

		function gridDataFadeOk() {
			gridDataFadeRodando = false;
		}

		function criarGridData(data, dataInt, eventoHorarios) {
			var div, html, i, j, k, s, h, tr, primeiro, local, cor, ideventolocal;

			div = document.createElement("div");
			div.className = "table-responsive";

			html = '<table id="gridData' + dataInt + '" class="grid-data table table-striped table-hover no-margin-bottom"><thead><tr><th class="left">Local</th>';
			for (i = 0; i < eventoHorarios.length; i++)
				html += '<th>' + eventoHorarios[i] + '</th>';
			html += '</tr></thead><tbody>'

			for (i = 0; i < eventoLocais.length; i++) {
				local = eventoLocais[i];
				ideventolocal = local.ideventolocal;

				cor = local.cor;

				tr = '<tr><td class="left" ' + (cor < 0 ? '' : ('style="color: ' + textColorForBackground(cor) + '; background-color: ' + intToColor(cor) + ';"')) + '>' + encode(local.nome) + '</td>';

				for (j = 0; j < eventoHorarios.length; j++) {
					tr += '<td>';

					/*ideventohorario = eventoHorarios[j].id;

					primeiro = true;
					for (k = 0; k < eventoSessoes.length; k++) {
						s = eventoSessoes[k];

						if (s.ideventodata !== ideventodata ||
							s.ideventohorario !== ideventohorario ||
							s.ideventolocal !== ideventolocal)
							continue;

						if (!primeiro)
							tr += " / ";
						else
							primeiro = false;

						if (s.sugestao)
							tr += '<span class="col-h">';

						tr += encode(s.nome_curto || s.nome);

						if (s.sugestao)
							tr += '</span>';
					}*/

					tr += '</td>';
				}

				tr += '</tr>';

				html += tr;
			}

			html += '</tbody></table>';

			$(div).html(html);

			return div;
		}

		function preencherGridData() {
			var hheader = 50, wcol1 = 64, wcol2 = 128;
		}

		function ajustarGridData() {
			modalGridDataLocal.style.left = modalGridDataBody.scrollLeft + "px";
			modalGridDataHorario.style.top = modalGridDataBody.scrollTop + "px";
			modalGridDataCanto.style.left = modalGridDataBody.scrollLeft + "px";
			modalGridDataCanto.style.top = modalGridDataBody.scrollTop + "px";
		};

		function ocultarGridData(e) {
			if (gridDataFadeRodando)
				return;
			if (e) {
				if ("key" in e) {
					switch (e.key) {
						case "Escape":
							break;
						default:
							return;
					}
				} else if ("keyCode" in e) {
					if (e.keyCode !== 27) // escape
						return;
				} else {
					if (e.which !== 27) // escape
						return;
				}
			}
			gridDataFadeRodando = true;
			window.removeEventListener("resize", ajustarGridData);
			document.removeEventListener("keydown", ocultarGridData, true);
			document.body.style.overflow = "";
			$("#modalGridData").fadeOut(400, gridDataFadeOk);
		};

		window.mostrarGridData = function () {
			if ($.active || JsonWebApi.active || gridDataFadeRodando)
				return;

			var i, j, html, data, dataInt, local, cor, $modalGridData = $("#modalGridData"), hashDatas = {}, eventoDatas = [], eventoHorarios = [];

			for (i = 0; i < 24; i += 0.5)
				eventoHorarios.push(formatHourDec(((i | 0) * 100) + ((i * 60) % 60)));

			for (i = eventoSessoes.length - 1; i >= 0; i--) {
				data = eventoSessoes[i].data;
				dataInt = $.fn.dataTable.ext.type.order["customdateint-pre"](data);
				if (!hashDatas[dataInt])
					hashDatas[dataInt] = {
						data: data,
						dataInt: dataInt
					};
			}

			for (i in hashDatas)
				eventoDatas.push(hashDatas[i]);

			eventoDatas.sort(function (a, b) { return a.dataInt - b.dataInt; });

			html = '<div class="grid-data-header form-inline"><label for="modalGridDataSelect"><i class="fa fa-calendar"></i></label> <select size="1" id="modalGridDataSelect" class="form-control" style="display: inline-block; width: auto; vertical-align: middle;">';

			for (i = 0; i < eventoDatas.length; i++) {
				data = eventoDatas[i].data;
				dataInt = eventoDatas[i].dataInt;

				html += '<option value="' + dataInt + '">' + data + '</option>';
			}

			html += '</select> <button type="button" class="btn btn-outline btn-primary" id="modalGridDataFechar"><i class="fa fa-times"></i>Fechar</button></div><div class="grid-data-body" id="modalGridDataBody">';

			html += '<table id="modalGridDataTable" class="table table-hover no-margin-bottom" style="width: auto; min-width: auto; max-width: 9999999px; background-color: #fff;"><thead><tr><th class="col2">Locais</th>';
			for (i = 0; i < eventoHorarios.length; i++)
				html += '<th class="col1" style="text-align: center;">' + eventoHorarios[i] + '</th>';
			html += '</tr></thead><tbody>';
			for (i = 0; i < eventoLocais.length; i++) {
				local = eventoLocais[i];
				cor = local.cor;
				if (cor < 0)
					cor = 0xffffff;
				html += '<tr><td class="col2" style="color: ' + textColorForBackground(cor) + '; background-color: ' + intToColor(cor) + ';">' + encode(local.nome) + '</td>';
				for (j = 0; j < eventoHorarios.length; j++)
					html += '<td class="col1"></td>';
				html += '</tr>';
			}
			html += '</tbody></table>';

			html += '<table id="modalGridDataLocal" class="table table-hover no-margin-bottom col2 float"><thead><tr><th class="col2" style="background-color: #fff;">Locais</th></tr></thead><tbody>'
			for (i = 0; i < eventoLocais.length; i++) {
				local = eventoLocais[i];
				cor = local.cor;
				if (cor < 0)
					cor = 0xffffff;
				html += '<tr><td class="col2" style="color: ' + textColorForBackground(cor) + '; background-color: ' + intToColor(cor) + ';">' + encode(local.nome) + '</td></tr>';
			}
			html += '</tbody></table>';

			html += '<table id="modalGridDataHorario" class="table table-hover no-margin-bottom float" style="width: auto; min-width: auto; max-width: 9999999px;"><thead><tr><th class="col2" style="background-color: #fff;">Locais</th>';
			for (i = 0; i < eventoHorarios.length; i++)
				html += '<th class="col1" style="text-align: center; background-color: #fff;">' + eventoHorarios[i] + '</th>';
			html += '</tr></thead></table>';

			html += '<table id="modalGridDataCanto" class="table table-hover no-margin-bottom col2 float"><thead><tr><th class="col2" style="background-color: #fff;">Locais</th></tr></thead></table>';

			html += '</div>';

			$modalGridData.html(html);

			document.getElementById("modalGridDataFechar").onclick = function () { ocultarGridData(); };
			modalGridDataSelect = document.getElementById("modalGridDataSelect");
			modalGridDataBody = document.getElementById("modalGridDataBody");
			modalGridDataTable = document.getElementById("modalGridDataTable");
			modalGridDataLocal = document.getElementById("modalGridDataLocal");
			modalGridDataHorario = document.getElementById("modalGridDataHorario");
			modalGridDataCanto = document.getElementById("modalGridDataCanto");

			preencherGridData();

			modalGridDataSelect.onchange = preencherGridData;
			gridDataFadeRodando = true;
			modalGridDataBody.onscroll = ajustarGridData;
			window.addEventListener("resize", ajustarGridData);
			document.addEventListener("keydown", ocultarGridData, true);
			document.body.style.overflow = "hidden";
			$modalGridData.fadeIn(400, gridDataFadeOk);
		};

		window.mostrarGridInscritosGeral = function () {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/evento/listarInscritosGeral", function (response) {
				if (response.success) {
					Notification.hide();

					var i, presenca, presencas = response.value;

					for (i = 0; i < presencas.length; i++) {
						presenca = presencas[i];
						presenca.duracao = (((((presenca.termino / 100) | 0) * 60) + (presenca.termino % 100)) - ((((presenca.inicio / 100) | 0) * 60) + (presenca.inicio % 100))) / 60;
					}

					$("#modalGridDataDialogBody").html('<div class="dataTable_wrapper"><table class="table table-striped table-hover" id="tabelaInscritosGeral"></table></div>');

					prepareDataTable("tabelaInscritosGeral", {
						order: [[0, "asc"], [1, "asc"], [2, "asc"], [3, "asc"]],
						deferRender: true,
						columns: [
							{ title: "Data", "class": "col-min text-right", "type": "customdateint", data: "data" },
							{ title: "Início", "class": "col-min text-right", data: function (row, type, set, meta) { return formatHourDec(row.inicio); } },
							{ title: "Término", "class": "col-min text-right", data: function (row, type, set, meta) { return formatHourDec(row.termino); } },
							{ title: "Duração (h)", "class": "col-min text-center", "type": "number", data: { sort: "duracao", _: function (row, type, set, meta) { return row.duracao.toFixed(1).replace(".", ","); } } },
							{ title: "Sessão", render: encode, data: "nome_sessao" },
							{ title: "Unidade", render: encode, data: "sigla_unidade" },
							{ title: "Local", render: encode, data: "nome_local" },
							{ title: "Âncora", render: encode, data: "nome_curso" },
							{ title: "Participante", render: encode, data: "nome" },
							{ title: "Certificado", "class": "col-min text-center", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return "<button title=\"Link do Certificado\" type=\"button\" class=\"btn btn-outline btn-default\" onclick=\"mostrarCertificadoParticipante(" + v + ")\"><i class=\"fa fa-nomargin fa-id-card-o\"></i></button>"; } },
							{ title: "Login", render: encode, data: "login" },
							{ title: "E-mail", render: encode, data: "email" },
							{ title: "Tipo", "class": "col-min", data: function (row, type, set, meta) { return (row.tipo === 1 ? "ALUNO" : (row.tipo === 2 ? "FUNCIONÁRIO" : "EXTERNO")); } },
							{ title: "Presente", "class": "col-min text-center", data: function (row, type, set, meta) { return (row.presente ? "SIM" : "NÃO"); } },
							{ title: "ACOM", "class": "col-min text-center", data: function (row, type, set, meta) { return (row.permiteacom ? "SIM" : "NÃO"); } }
						],
						data: presencas,
						export: { title: "Participantes e Presenças" }
					});

					$("#modalGridDataDialogTitle").text("Participantes e Presenças");

					$("#modalGridDataDialog").modal({
						backdrop: "static",
						keyboard: true
					});
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		};

		window.mostrarCertificadoParticipante = function (idParticipante) {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/participante/gerarLinkCertificado/" + idParticipante, function (response) {
				if (response.success) {
					Notification.hide();

					window.open(response.value);
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad);
				}
			});
		};

		window.mostrarGridAvaliacoesEMedias = function () {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/evento/listarAvaliacoesEMedias", function (response) {
				if (response.success) {
					Notification.hide();

					var i, sessao, avaliacao, avaliacoes = response.value, data = [];

					for (i = avaliacoes.length - 1; i >= 0; i--) {
						avaliacao = avaliacoes[i];
						if (!(sessao = eventoSessoesPorId[avaliacao.ideventosessao]))
							continue;
						data.push({
							data: sessao.data,
							inicio: sessao.inicio,
							termino: sessao.termino,
							nome_sessao: sessao.nome,
							nome_local: sessao.nome_local,
							nome_curso: sessao.nome_curso,
							avaliacao: avaliacao.avaliacao,
							data_avaliacao: avaliacao.data_avaliacao,
							comentario: avaliacao.comentario || ""
						});
					}

					$("#modalGridDataDialogBody").html('<div class="dataTable_wrapper"><table class="table table-striped table-hover" id="tabelaAvaliacoesIndividuais"></table></div>');

					prepareDataTable("tabelaAvaliacoesIndividuais", {
						order: [[0, "asc"], [1, "asc"], [2, "asc"], [3, "asc"]],
						deferRender: true,
						columns: [
							{ title: "Data", "class": "col-min text-right", "type": "customdateint", data: "data" },
							{ title: "Início", "class": "col-min text-right", data: "inicio" },
							{ title: "Término", "class": "col-min text-right", data: "termino" },
							{ title: "Sessão", render: encode, data: "nome_sessao" },
							{ title: "Local", render: encode, data: "nome_local" },
							{ title: "Âncora", render: encode, data: "nome_curso" },
							{ title: "Nota", "class": "col-min text-right", "type": "number", data: "avaliacao" },
							{ title: "Data da Avaliação", "class": "col-min text-right", "type": "customdateint", data: "data_avaliacao" },
							{ title: "Comentário", render: encode, data: "comentario" },
						],
						data: data,
						export: { title: "Avaliações e Comentários" }
					});

					$("#modalGridDataDialogTitle").text("Avaliações e Comentários");

					$("#modalGridDataDialog").modal({
						backdrop: "static",
						keyboard: true
					});
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		};

		window.mostrarGridPalestrantesGeral = function () {
			if ($.active || JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/evento/listarPalestrantesGeral", function (response) {
				if (response.success) {
					Notification.hide();

					$("#modalGridDataDialogBody").html('<div class="dataTable_wrapper"><table class="table table-striped table-hover" id="tabelaPalestrantesGeral"></table></div>');

					prepareDataTable("tabelaPalestrantesGeral", {
						order: [[0, "asc"], [1, "asc"], [2, "asc"], [3, "asc"], [6, "asc"]],
						deferRender: true,
						columns: [
							{ title: "Data", "class": "col-min text-right", "type": "customdateint", data: "data" },
							{ title: "Início", "class": "col-min text-right", data: function (row, type, set, meta) { return formatHourDec(row.inicio); } },
							{ title: "Término", "class": "col-min text-right", data: function (row, type, set, meta) { return formatHourDec(row.termino); } },
							{ title: "Sessão", render: encode, data: "nome_sessao" },
							{ title: "Local", render: encode, data: "nome_local" },
							{ title: "Âncora", render: encode, data: "nome_curso" },
							{ title: "Palestrante", render: encode, data: "nome" },
							{ title: "E-mail", render: encode, data: "email" },
							{ title: "Oculto", "class": "col-min text-center", data: function (row, type, set, meta) { return (row.oculto ? "SIM" : "NÃO"); } },
							{ title: "Confirmado", "class": "col-min text-center", data: function (row, type, set, meta) { return (row.confirmado ? "SIM" : "NÃO"); } }
						],
						data: response.value,
						export: { title: "Palestrantes" }
					});

					$("#modalGridDataDialogTitle").text("Palestrantes");

					$("#modalGridDataDialog").modal({
						backdrop: "static",
						keyboard: true
					});
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		};

		var txtSessaoPalestranteNovoNome = _("txtSessaoPalestranteNovoNome"),
			txtSessaoPalestranteNovoEmail = _("txtSessaoPalestranteNovoEmail"),
			txtSessaoPalestranteNovoEmpresa = _("txtSessaoPalestranteNovoEmpresa");

		window.criarEAdicionarNovoPalestrante = function () {
			if ($.active || JsonWebApi.active)
				return;

			var i, idempresa = 0,
				nome = trim(txtSessaoPalestranteNovoNome.value).normalize(),
				email = trim(txtSessaoPalestranteNovoEmail.value).normalize().toUpperCase(),
				nome_empresa = trim(txtSessaoPalestranteNovoEmpresa.value).normalize(),
				nome_empresa_upper = nome_empresa.toUpperCase();

			if (nome.length < 3 || nome.length > 100) {
				Notification.error("Nome inválido " + emoji.sad, true);
				return;
			}

			if (!isEmail(email)) {
				Notification.error("E-mail inválido " + emoji.sad, true);
				return;
			}

			if (nome_empresa.length < 3 || nome_empresa.length > 100) {
				Notification.error("Empresa inválida " + emoji.sad, true);
				return;
			}

			function criarPalestrante() {
				var p = {
					idevento: idevento,
					idempresa: idempresa,
					nome_empresa: eventoEmpresasPorId[idempresa].nome,
					nome: nome,
					nome_curto: (nome.length <= 45 ? nome : nome.substr(0, 45)),
					email: email,
					oculto: 0,
					prioridade: 0,
					cargo: "",
					url_site: "",
					url_twitter: "",
					url_facebook: "",
					url_linkedin: "",
					cargo: "",
					bio: "",
					bio_curta: "",
					versao: 0
				};

				var formData = new FormData();
				formData.append("idevento", p.idevento);
				formData.append("idempresa", p.idempresa);
				formData.append("nome", p.nome);
				formData.append("nome_curto", p.nome_curto);
				formData.append("email", p.email);
				formData.append("oculto", p.oculto);
				formData.append("prioridade", p.prioridade);
				formData.append("cargo", p.cargo);
				formData.append("url_site", p.url_site);
				formData.append("url_twitter", p.url_twitter);
				formData.append("url_facebook", p.url_facebook);
				formData.append("url_linkedin", p.url_linkedin);
				formData.append("bio", p.bio);
				formData.append("bio_curta", p.bio_curta);
				formData.append("versao", p.versao);
				formData.append("imagem", new Blob([gerarPNGVazio()], { type: "image/png" }));

				JsonWebApi.postFormData("<%- root %>/api/palestrante/criar", formData, function (response) {
					if (response.success) {
						txtSessaoPalestranteNovoNome.value = "";
						txtSessaoPalestranteNovoEmail.value = "";
						txtSessaoPalestranteNovoEmpresa.value = "";
						p.id = parseInt(response.value);
						eventoPalestrantesPorId[p.id] = p;
						eventoPalestrantes.push(p);
						eventoPalestrantes.sort(comparadorNome);
						$("#cbSessaoPalestrante").append('<option value="' + p.id + '">' + encode(p.nome) + '</option>');
						setCbSearch(_("cbSessaoPalestrante"), p.id.toString());
						Notification.success("Palestrante criado com sucesso! " + emoji.happy);
						var tabela = _("tabela-palestrantes");
						if (tabela) {
							tabela = $(tabela).DataTable();
							tabela.row.add(p).draw();
						}
						window.adicionarPalestrante(p.id);

						if (trSessaoClicada) {
							naoFecharModal = true;
							$("#formAlterarSessao").submit();
						}
					} else {
						Notification.error(response.value, true);
					}
				});
			}

			for (i = eventoEmpresas.length - 1; i >= 0; i--) {
				if (eventoEmpresas[i].nome.toUpperCase() === nome_empresa_upper) {
					idempresa = eventoEmpresas[i].id;
					nome_empresa = eventoEmpresas[i].nome;
					break;
				}
			}

			Notification.wait();

			if (idempresa) {
				criarPalestrante();
			} else {
				var e = {
					idevento: idevento,
					nome: nome_empresa,
					nome_curto: (nome_empresa.length <= 45 ? nome_empresa : nome_empresa.substr(0, 45)),
					url_site: "",
					idtipo: eventoEmpresasPorId[idempresapadrao].idtipo,
					nome_tipo: eventoEmpresasPorId[idempresapadrao].nome_tipo,
					versao: 0
				};

				var formData = new FormData();
				formData.append("idevento", e.idevento);
				formData.append("nome", e.nome);
				formData.append("nome_curto", e.nome_curto);
				formData.append("url_site", e.url_site);
				formData.append("idtipo", e.idtipo);
				formData.append("versao", e.versao);
				formData.append("imagem", new Blob([gerarPNGVazio()], { type: "image/png" }));

				JsonWebApi.postFormData("<%- root %>/api/empresa/criar", formData, function (response) {
					if (response.success) {
						e.id = parseInt(response.value);
						idempresa = e.id;
						eventoEmpresasPorId[e.id] = e;
						eventoEmpresas.push(e);
						eventoEmpresas.sort(comparadorNome);
						var tabela = _("tabela-empresas");
						if (tabela) {
							tabela = $(tabela).DataTable();
							tabela.row.add(e).draw();
						}
						criarPalestrante();
					} else {
						Notification.error(response.value, true);
					}
				});
			}
		}

		function keydownPalestranteNovo(e) {
			if (e.key == "Enter" || e.keyCode == 13)
				return cancelEvent(e);
		}

		function keyupPalestranteNovo(e) {
			if (e.key == "Enter" || e.keyCode == 13) {
				cancelEvent(e);
				window.criarEAdicionarNovoPalestrante();
				return false;
			}
		}

		txtSessaoPalestranteNovoNome.onkeydown = keydownPalestranteNovo;
		txtSessaoPalestranteNovoNome.onkeyup = keyupPalestranteNovo;
		txtSessaoPalestranteNovoEmail.onkeydown = keydownPalestranteNovo;
		txtSessaoPalestranteNovoEmail.onkeyup = keyupPalestranteNovo;
		txtSessaoPalestranteNovoEmpresa.onkeydown = keydownPalestranteNovo;
		txtSessaoPalestranteNovoEmpresa.onkeyup = keyupPalestranteNovo;
	});

	//]]>
</script>
