
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<a id="aLandingPageTitulo" class="btn btn-primary btn-outline" style="white-space: normal;" target="_blank" href="<%- root %>/<%-item.url %>"><i class="fa fa-external-link"></i>Acessar a landing page do evento</a>
				<hr />
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active"><a id="a-basica" href="#tab-basica" role="tab" data-toggle="pill" aria-controls="tab-basica" aria-expanded="true"><i class="fa fa-edit"></i>Informações Básicas</a></li>
					<% if (usuario.admin) { %>
					<li role="presentation"><a id="a-usuarios" href="#tab-usuarios" role="tab" data-toggle="pill" aria-controls="tab-usuarios" aria-expanded="false"><i class="fa fa-user"></i>Usuários</a></li>
					<% } %>
					<li role="presentation"><a id="a-locais" href="#tab-locais" role="tab" data-toggle="pill" aria-controls="tab-locais" aria-expanded="false"><i class="fa fa-map-marker"></i>Locais</a></li>
					<li role="presentation"><a id="a-empresas" href="#tab-empresas" role="tab" data-toggle="pill" aria-controls="tab-empresas" aria-expanded="false"><i class="fa fa-industry"></i>Empresas</a></li>
					<li role="presentation"><a id="a-palestrantes" href="#tab-palestrantes" role="tab" data-toggle="pill" aria-controls="tab-palestrantes" aria-expanded="false"><i class="fa fa-microphone"></i>Palestrantes</a></li>
					<li role="presentation"><a id="a-sessoes" href="#tab-sessoes" role="tab" data-toggle="pill" aria-controls="tab-sessoes" aria-expanded="false"><i class="fa fa-group"></i>Sessões</a></li>
					<li role="presentation" style="display: none;"><a id="a-arquivos" href="#tab-arquivos" role="tab" data-toggle="pill" aria-controls="tab-arquivos" aria-expanded="false"><i class="fa fa-folder-open-o"></i>Arquivos</a></li>
					<li role="presentation" style="display: none;"><a id="a-landing-page" href="#tab-landing-page" role="tab" data-toggle="pill" aria-controls="tab-landing-page" aria-expanded="false"><i class="fa fa-folder-open-o"></i>Landing Page</a></li>
				</ul>
				<div class="text-right">
					<br />
					<a id="a-avancado" class="btn btn-xs btn-default btn-outline" href="#" onclick="return mostrarAvancado()">Opções avançadas...</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="tab-basica">
				<%- include("alterar") %>
			</div>
			<% if (usuario.admin) { %>
			<div role="tabpanel" class="tab-pane fade" id="tab-usuarios"></div>
			<% } %>
			<div role="tabpanel" class="tab-pane fade" id="tab-locais"></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-empresas"></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-palestrantes"></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-sessoes"></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-arquivos"></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-landing-page"></div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.nav-pills > li, .nav-pills > li + li {
		margin: 2px 0;
		float: none;
	    display: inline-block;
	}

	.nav-pills > li:not(.active) > a:not(:hover) {
		background-color: #fff;
		color: #333;
	}

	tr:not(.col-h2) .btn-evento-local {
		visibility: hidden;
	}

	tr:not(.col-h2) .btn-evento-desassociar {
		visibility: hidden;
	}

	tr.col-h2 .btn-evento-associar {
		visibility: hidden;
	}

	.grid-data {
		position: fixed;
		z-index: 1050; /* Igual ao modal do Bootstrap */
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #f0f0f0;
	}

	.grid-data-header {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 50px;
		padding: 8px 8px 0;
		text-align: center;
	}

	.grid-data-body {
		position: absolute;
		left: 0;
		top: 50px;
		right: 0;
		bottom: 0;
		overflow: scroll scroll;
	}

		.grid-data-body th, .grid-data-body td {
			border-right: 1px solid #ddd;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			min-height: 50px;
			max-height: 50px;
			height: 50px;
		}

		.grid-data-body .col1 {
			min-width: 64px;
			max-width: 64px;
			width: 64px;
		}

		.grid-data-body .col2 {
			min-width: 128px;
			max-width: 128px;
			width: 128px;
		}

		.grid-data-body .float {
			position: absolute;
			left: 0;
			top: 0;
		}

		/*.grid-data-body th:not(:last-child), .grid-data td:not(:last-child) {
			border-right: 1px solid #ddd;
		}*/

	.content-section {
		counter-reset: content-section;
	}

	.content-enum::before {
		counter-increment: content-section;
		content: counter(content-section);
	}

	.local-cor-container {
		overflow-x: hidden;
		overflow-y: auto;
		white-space: nowrap;
		text-align: center;
	}

	.local-cor {
		display: inline-block;
		vertical-align: bottom;
		padding: 0;
		margin: 0;
		width: 40px;
		height: 40px;
		line-height: 32px;
		border: 4px solid #fff;
		cursor: pointer;
		border-radius: 8px;
	}
		.local-cor.largo {
			width: 200px;
		}

		.local-cor.sel {
			border-color: #000;
		}

		.local-cor:hover {
			border-color: #aaa;
		}

	.palestrante-img {
		max-width: 100px;
		max-height: 75px;
	}

	#page-wrapper > .row {
		max-width: 9999px;
	}

	.link-curto {
		display: inline-block;
		white-space: nowrap;
		max-width: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#a-avancado:not(:hover) {
		color: #aaa;
	}
</style>

<%- contentFor("scripts") %>

<%- include("scripts-comuns") %>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$.fn.dataTable.ext.type.order["customtime-pre"] = function (d) {
		if (!d)
			return -2147483648;
		return parseInt(d.replace(":", ""));
	};

	var tabArquivosVisivel = false,
		tabLandingPageVisivel = false;

	function gerarLinkDeCompartilhamento(nome) {
		return "<%- urlBase %>/<%-item.url %>?" + encodeURIComponent(ajustarNome(nome)).replace(regEspaco, "+");
	}

	function prepararAba(idA, idTab, url) {
		var a = $(idA),
			tab = $(idTab),
			htmlAguarde = "<div class=\"panel panel-default panel-body text-center\"><img alt=\"Aguarde\" src=\"<%- root %>/imagens/loading-grey-t.gif\"> Por favor, aguarde...</div>",
			htmlErro = "<div class=\"alert alert-danger\">Algo deu errado durante o carregamento. Por favor, tente novamente em alguns instantes.</div>";

		a[0].setAttribute("data-aba-ok", "");
		tab.html(htmlAguarde);

		a.on("show.bs.tab", function () {
			if (a[0].getAttribute("data-aba-ok"))
				return;

			// Para sumir com a mensagem de erro, caso precise tentar novamente...
			tab.html(htmlAguarde);
		});

		a.on("shown.bs.tab", function () {
			tabArquivosVisivel = (idTab === "#tab-arquivos");
			tabLandingPageVisivel = (idTab === "#tab-landing-page");

			if (a[0].getAttribute("data-aba-ok"))
				return;

			a[0].setAttribute("data-aba-ok", "1");

			$.ajax({
				url: url,
				method: "GET",
				cache: false,
				success: function (data) {
					a[0].setAttribute("data-aba-ok", "2");
					tab.html(data);
				},
				error: function () {
					a[0].setAttribute("data-aba-ok", "");
					tab.html(htmlErro);
				}
			});
		});
	}

	function atualizarInscricoesEPresencas(r) {
		var presencas = r.presencas, tipos = r.tipos, totalI = 0, totalP = 0, i, sessao, t1 = 0, t2 = 0, t3 = 0, presenca;
		if (eventoSessoesPorId) {
			for (i = eventoSessoes.length - 1; i >= 0; i--) {
				sessao = eventoSessoes[i];
				sessao.inscritos = 0;
				sessao.presentes = 0;
			}
			if (presencas) {
				for (i = presencas.length - 1; i >= 0; i--) {
					presenca = presencas[i];
					if ((sessao = eventoSessoesPorId[presenca.ideventosessao])) {
						totalI += presenca.inscritos;
						totalP += presenca.presentes;
						sessao.inscritos = presenca.inscritos;
						sessao.presentes = presenca.presentes;
					}
				}
			}
		}
		if (tipos && tipos.length) {
			for (i = tipos.length - 1; i >= 0; i--) {
				switch (tipos[i].tipo) {
					case 1:
						t1 = tipos[i].inscritos;
						break;
					case 2:
						t2 = tipos[i].inscritos;
						break;
					case 3:
						t3 = tipos[i].inscritos;
						break;
				}
			}
		}
		$("#lblInscricoesEPresencas").html("Total de Inscrições: " + totalI + "<br />Total de Presenças: " + totalP + "<br />Total de Alunos Inscritos: " + t1 + "<br />Total de Funcionários Inscritos: " + t2 + "<br />Total de Participantes Externos Inscritos: " + t3);
	}

	function atualizarAvaliacoesEMedias(avaliacoes) {
		var i, sessao, avaliacao;
		if (eventoSessoesPorId) {
			for (i = eventoSessoes.length - 1; i >= 0; i--) {
				sessao = eventoSessoes[i];
				sessao.avaliacoes = 0;
				sessao.media = 0;
			}
			if (avaliacoes) {
				for (i = avaliacoes.length - 1; i >= 0; i--) {
					avaliacao = avaliacoes[i];
					if ((sessao = eventoSessoesPorId[avaliacao.ideventosessao])) {
						sessao.avaliacoes++;
						sessao.media += avaliacao.avaliacao;
					}
				}
				for (i = eventoSessoes.length - 1; i >= 0; i--) {
					sessao = eventoSessoes[i];
					if (sessao.avaliacoes)
						sessao.media = (((sessao.media / sessao.avaliacoes) * 10) | 0) / 10;
				}
			}
		}
	}

	function carregarSessoes(sessoes, presencas) {
		window.eventoSessoes = sessoes;
		window.eventoSessoesPorId = {};
		if (eventoSessoes) {
			for (var i = 0; i < eventoSessoes.length; i++) {
				var sessao = eventoSessoes[i];
				sessao.inscritos = 0;
				sessao.presentes = 0;
				sessao.avaliacoes = "-";
				sessao.media = "-";
				eventoSessoesPorId[sessao.id] = sessao;
				if (!sessao.idspalestrante) {
					sessao.idspalestrante = [];
				} else {
					sessao.idspalestrante = sessao.idspalestrante.split(",");
					for (var j = 0; j < sessao.idspalestrante.length; j++)
						sessao.idspalestrante[j] = parseInt(sessao.idspalestrante[j]);
				}
			}
		}
		atualizarInscricoesEPresencas(presencas);
	}

	//<% if (usuario.admin) { %>
	prepararAba("#a-usuarios", "#tab-usuarios", "/evento/controlar-usuarios");
	//<% } %>
	prepararAba("#a-locais", "#tab-locais", "/evento/controlar-locais");
	prepararAba("#a-empresas", "#tab-empresas", "/evento/controlar-empresas");
	prepararAba("#a-palestrantes", "#tab-palestrantes", "/evento/controlar-palestrantes");
	prepararAba("#a-sessoes", "#tab-sessoes", "/evento/controlar-sessoes");
	prepararAba("#a-arquivos", "#tab-arquivos", "/evento/controlar-arquivos");
	prepararAba("#a-landing-page", "#tab-landing-page", "/evento/controlar-landing-page");

	function mostrarAvancado() {
		$("#a-avancado").parent().remove();
		$("#a-arquivos").parent().show();
		$("#a-landing-page").parent().show();
		return false;
	}

	prepareCopyHandler();

	//]]>
</script>
