<%
	function format2(x) {
		return ((x < 10) ? ("0" + x) : x);
	}

	function formatHourDec(x) {
		return format2((x / 100) | 0) + ":" + format2(x % 100);
	}

	var duracaoTotal = 0, totalAcom = 0,
		meses = ["janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro"],
		linhaData = evento.cidade + ", ";

	(function () {
		var i, presenca, partes, duracao, acomminutos;

		if (presencas[0].data) {
			for (i = 0; i < presencas.length; i++) {
				partes = presencas[i].data.split('/');
				presencas[i].dia = parseInt(partes[0], 10);
				presencas[i].mes = parseInt(partes[1], 10);
				presencas[i].ano = parseInt(partes[2], 10);
			}
		}

		presencas.sort(function (a, b) {
			if (a.ano !== b.ano)
				return a.ano - b.ano;
			if (a.mes !== b.mes)
				return a.mes - b.mes;
			if (a.dia !== b.dia)
				return a.dia - b.dia;
			return a.ordem - b.ordem;
		});

		presenca = presencas[presencas.length - 1];
		linhaData += presenca.dia + " de " + meses[presenca.mes - 1] + " de " + presenca.ano;

		for (i = 0; i < presencas.length; i++) {
			presenca = presencas[i];

			// Para poder mostrar hora(s) sem problemas de arredondamento, inclusive na soma total
			// (O correto seria fazer / 60, mas fazemos * 10 / 60 para truncar com uma casa, então fica só / 6)
			duracao = ((((((presenca.termino / 100) | 0) * 60) + (presenca.termino % 100)) - ((((presenca.inicio / 100) | 0) * 60) + (presenca.inicio % 100))) / 6) | 0;
			acomminutos = (presenca.acomminutos / 6) | 0;

			presenca.duracao = duracao / 10;
			presenca.acomminutos = acomminutos / 10;

			duracaoTotal += duracao;
			totalAcom += acomminutos;
		}

		// Para poder mostrar hora(s) sem problemas de arredondamento
		duracaoTotal /= 10;
		totalAcom /= 10;
	})();

	var linha1, linha2;

	if (palestrante) {
		linha1 = evento.certificado1palestrante;
		linha2 = (evento.certificado2palestrante || "(sob o e-mail <b>{EMAIL}</b>) ministrou as sessões descritas na página seguinte, com uma carga horária total de <b>{HORAS}</b>, nos respectivos dias e horários, como parte do evento <b>{EVENTO}</b>.");
	} else {
		linha1 = evento.certificado1;
		linha2 = (evento.certificado2 || "(sob o e-mail <b>{EMAIL}</b>) participou das sessões descritas na página seguinte, com uma carga horária total de <b>{HORAS}</b>, nos respectivos dias e horários, como parte do evento <b>{EVENTO}</b>.");
	}

	if (!linha1) linha1 = "Certificamos que";
	linha2 = linha2.replace(/\{EMAIL\}/gi, participante.email)
		.replace(/\{HORAS\}/gi, duracaoTotal.toFixed(1).replace(".", ",") + (duracaoTotal === 1 ? " hora" : " horas"))
		.replace(/\{EVENTO\}/gi, evento.nome);
%>

<section class="sheet text-center">

	<img src="<%- staticRoot %>/evt/<%-evento.id %>/fundo-certificado.png?v=<%-evento.versao %>" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; pointer-events: none; z-index: 0;" />

	<div style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 1;">
		<p style="margin: 70mm 0 0;"><%-linha1 %></p>

		<p style="margin: 5mm 10mm 0; font-size: 10mm; font-weight: 700; color: #a70230 !important; -webkit-print-color-adjust: exact;"><%=participante.nome %></p>

		<p style="margin: 5mm 10mm 0;"><%-linha2 %></p>

		<p style="margin: 10mm 10mm 0;"><%-linhaData %>.</p>
	</div>

	<div class="branco" style="position: absolute; left: 3mm; bottom: 3mm; font-size: 3mm; z-index: 2; text-align: left;">
		<span class="branco no-print">
			Você pode <a class="branco" style="text-decoration: underline; font-weight: 700;" href="#" onclick="window.print(); return false;"><i class="fa fa-print"></i>imprimir</a> o certificado, ou compartilhar o link abaixo:
		</span>
		<span class="branco print-only">
			Link para verificação de autenticidade do certificado:
		</span>
		<br />
		<%- urlBase %>/<%-(palestrante ? "evento" : "participante") %>/certificado/<%-idcertificado %>
	</div>

</section>

<section class="sheet padding-10mm" style="font-size: 3.5mm;">

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-left">Sessão</th>
				<th class="col-min text-center">Data</th>
				<th class="col-min text-center">Início</th>
				<th class="col-min text-center">Término</th>
				<th class="col-min text-center">Duração (h)</th>
				<% if (!palestrante) { %>
				<th class="col-min text-center">ACOM (h)</th>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < presencas.length; i++) { var presenca = presencas[i]; %>
			<tr>
				<td class="text-left"><%=presenca.nome %></td>
				<td class="col-min text-center"><%-(presenca.data || (format2(presenca.dia) + "/" + format2(presenca.mes) + "/" + presenca.ano)) %></td>
				<td class="col-min text-center"><%=formatHourDec(presenca.inicio) %></td>
				<td class="col-min text-center"><%=formatHourDec(presenca.termino) %></td>
				<td class="col-min text-center"><%-(presenca.duracao.toFixed(1).replace(".", ",")) %></td>
				<% if (!palestrante) { %>
				<td class="col-min text-center"><%-(presenca.acomminutos.toFixed(1).replace(".", ",")) %></td>
				<% } %>
			</tr>
			<% } %>
			<% if (!palestrante) { %>
			<tr>
				<td colspan="6" class="text-right"><b>Total de horas ACOM:</b> <%-(totalAcom.toFixed(1).replace(".", ",")) %> h</td>
			</tr>
			<% } %>
		</tbody>
	</table>

</section>

<%- contentFor("styles") %>
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="<%- staticRoot %>/lib/paper-css/css/paper.min.css" />
<style type="text/css">
	body {
		font-family: 'PT Sans', sans-serif;
		font-size: 6mm;
		font-weight: 400;
		color: #000;
	}

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
	@page {
		size: A4 landscape;
	}

	.print-only {
		display: none;
	}

	@media print {
		.no-print {
			display: none;
		}

		.print-only {
			display: inline;
		}
	}

	.branco {
		color: #fff !important;
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	document.body.className = "A4 landscape";

	//]]>
</script>
