
<div class="row">
	<div class="col-lg-12" id="content"></div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalQR">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Código QR</h4>
			</div>
			<div class="modal-body text-center">
				<div id="qrcode"></div>
				<div class="form-group">
					<small>Apresente este código a partir da tela do seu celular para acessar as instalações e sessões dos eventos.<br /><br /><a id="linkQR" href="<%- root %>/participante/qr" target="_blank"><i class="fa fa-print"></i>Se preferir, clique aqui para gerar uma versão do código para impressão.</a></small>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalExcluir">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Excluir Inscrição</h4>
			</div>
			<div class="modal-body">
				Tem certeza que deseja excluir sua inscrição na sessão <span id="lblExcluirNome"></span>? Esta operação <b class="col-h">NÃO</b> pode ser desfeita!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="excluir()"><i class="fa fa-check"></i>Excluir</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalInscricoes">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Minhas Inscrições</h4>
			</div>
			<div class="modal-body" id="contentInscricoes"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAvaliacao">
	<div class="modal-dialog" role="document">
		<form class="modal-content" id="formAvaliacao" method="get">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Avaliação</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="txtConhecimento">Conhecimento do palestrante sobre o assunto</label>
					<select class="form-control" id="txtConhecimento" name="txtConhecimento">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtConteudo">Conteúdo da atividade</label>
					<select class="form-control" id="txtConteudo" name="txtConteudo">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtPontualidade">Pontualidade e administração do tempo do palestrante</label>
					<select class="form-control" id="txtPontualidade" name="txtPontualidade">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtAplicabilidade">Aplicabilidade do conhecimento apresentado na atividade em seu dia-a-dia</label>
					<select class="form-control" id="txtAplicabilidade" name="txtAplicabilidade">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtExpectativas">A atividade atingiu suas expectativas</label>
					<select class="form-control" id="txtExpectativas" name="txtExpectativas">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtComentarioExpectativas">Por quê? <small>(Opcional)</small></label>
					<input id="txtComentarioExpectativas" name="txtComentarioExpectativas" type="text" class="form-control" maxlength="200" />
				</div>
				<div class="form-group">
					<label for="txtAvaliacao">Nota geral da atividade</label>
					<select class="form-control" id="txtAvaliacao" name="txtAvaliacao">
						<option value="">SELECIONE...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group no-margin-bottom">
					<label for="txtComentario">Críticas, elogios e sugestões <small>(Opcional)</small></label>
					<input id="txtComentario" name="txtComentario" type="text" class="form-control" maxlength="200" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Avaliar</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</form>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.panel-transparent-header {
		background-color: rgba(255,255,255,0.85);
	}

		.panel-transparent-header > .panel-heading {
			background-color: transparent;
		}

		.panel-transparent-header > .panel-body {
			border-radius: 4px;
			background-color: #fff;
		}

	.panel-body-titulo {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.titulo-inscricao {
		font-size: 20px;
		margin: 0 0 15px;
	}

		.titulo-inscricao::first-letter {
			font-size: 30px;
		}

	#qrcode > * {
		margin: 15px auto 30px;
		width: 200px;
		max-width: 100%;
	}

	#contentInscricoes hr {
		margin: 40px 0;
	}
</style>

<%- contentFor("scripts") %>
<!--
	qrcode.js
	https://github.com/davidshimjs/qrcodejs
-->
<script type="text/javascript" src="<%- staticRoot %>/lib/qrcodejs/js/qrcode-1.0.0.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var eventos = <%- eventos %>, qrcode = null, idParaAvaliar = 0, idParaExcluir = 0, idEventoParaExcluir = 0;

	function mostrarQR() {
		if (JsonWebApi.active)
			return;

		if (!qrcode) {
			qrcode = new QRCode("qrcode", {
				text: "<%- participante.idqr %>",
				width: 400,
				height: 400,
				colorDark: "#000000",
				colorLight: "#ffffff",
				correctLevel: QRCode.CorrectLevel.H
			});
			$("#qrcode").attr("title", "");
		}

		$("#modalQR").modal({
			backdrop: "static",
			keyboard: false
		});
	}

	function avaliarInterno() {
		definirEstrela(0);

		resetForm("#formAvaliacao");

		$("#modalAvaliacao").modal({
			backdrop: "static",
			keyboard: false
		});
	}

	function avaliar(id) {
		if (JsonWebApi.active)
			return;

		idParaAvaliar = id;
		idParaExcluir = 0;
		idEventoParaExcluir = 0;

		if ($("#modalInscricoes").hasClass("in"))
			$("#modalInscricoes").modal("hide");
		else
			avaliarInterno();
	}

	function excluir() {
		if (JsonWebApi.active || !idParaExcluir || !idEventoParaExcluir)
			return;

		$("#modalExcluir").modal("hide");

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/participante/excluirInscricao", function (response) {
			if (response.success)
				Notification.success("Inscrição excluída com sucesso! " + emoji.happy);
			else
				Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
		}, "id", idParaExcluir, "idevento", idEventoParaExcluir);

		idParaExcluir = 0;
		idEventoParaExcluir = 0;
	}

	function excluirInscricao(id, idevento, nome) {
		if (JsonWebApi.active)
			return;

		$("#lblExcluirNome").text(nome);
		idParaAvaliar = 0;
		idParaExcluir = id;
		idEventoParaExcluir = idevento;

		$("#modalInscricoes").modal("hide");
	}

	function definirEstrela(estrela) {
		if (!estrela || estrela < 0)
			estrela = 0;
		else if (estrela > 5)
			estrela = 5;
		else
			estrela |= 0;

		$("#txtAvaliacao").val(estrela || "");

		var i;
		for (i = 1; i <= estrela; i++)
			$("#btnEstrela" + i + ">i").removeClass("fa-star-o").addClass("fa-star");
		for (; i <= 5; i++)
			$("#btnEstrela" + i + ">i").removeClass("fa-star").addClass("fa-star-o");
	}

	$("#formAvaliacao").validate({
		rules: {
			txtConhecimento: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtConteudo: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtPontualidade: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtAplicabilidade: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtExpectativas: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtComentarioExpectativas: {
				maxlength: 200
			},
			txtAvaliacao: {
				required: true,
				min: 0,
				max: 5,
				number: true
			},
			txtComentario: {
				maxlength: 200
			}
		},
		submitHandler: function (form) {
			if (JsonWebApi.active || !idParaAvaliar)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/participante/avaliarSessao", function (response) {
				if (response.success) {
					if (response.value) {
						Notification.error(response.value + " " + emoji.sad);
					} else {
						Notification.success("Avaliação realizada com sucesso! " + emoji.happy);
						$("#modalAvaliacao").modal("hide");
					}
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			},
			"id", idParaAvaliar, 
			"conhecimento", $("#txtConhecimento").val(),
			"conteudo", $("#txtConteudo").val(),
			"pontualidade", $("#txtPontualidade").val(),
			"aplicabilidade", $("#txtAplicabilidade").val(),
			"expectativas", $("#txtExpectativas").val(),
			"comentarioExpectativas", trim($("#txtComentarioExpectativas").val()),
			"avaliacao", $("#txtAvaliacao").val(),
			"comentario", trim($("#txtComentario").val()));
		}
	});

	function mostrarEvento(idevento) {
		if (JsonWebApi.active)
			return;

		idParaAvaliar = 0;
		idParaExcluir = 0;
		idEventoParaExcluir = 0;

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/participante/listarMinhasInscricoes", function (response) {
			if (response.success) {
				Notification.hide();

				var i, inscricao, inscricoes = response.value, idInternet = -1, html = "";

				if (!inscricoes || !inscricoes.length) {
					html = '<div class="text-center">Não foram encontradas inscrições para esse evento ' + emoji.sad + '</div>';
				} else {
					function ajustarOrdenar(lista) {
						for (i = lista.length - 1; i >= 0; i--) {
							lista[i].dataInt = $.fn.dataTable.ext.type.order["customdateint-pre"](lista[i].data);
							if (lista[i].multidatas && lista[i].multidatas.length)
								ajustarOrdenar(lista[i].multidatas);
						}

						lista.sort(function (a, b) {
							if (a.dataInt !== b.dataInt)
								return a.dataInt - b.dataInt;
							if (a.inicio !== b.inicio)
								return a.inicio - b.inicio;
							return a.termino - b.termino;
						});
					}

					ajustarOrdenar(inscricoes);

					var agora = (new Date()).getTime();

					for (i = 0; i < inscricoes.length; i++) {
						inscricao = inscricoes[i];

						if (i)
							html += "<hr />";

						// Se for multidata, terminoEvento = data e hora da última multidata
						var m = ((inscricao.multidatas && inscricao.multidatas.length) ? inscricao.multidatas[inscricao.multidatas.length - 1] : inscricao);
						var terminoEvento = (new Date((m.dataInt / 10000) | 0, (((m.dataInt / 100) | 0) % 100) - 1, m.dataInt % 100, (m.termino / 100) | 0, m.termino % 100, 0, 0)).getTime();

						// Libera as avaliações por 10 dias, a partir de 10 minutos antes do final do evento
						terminoEvento -= (10 * 60 * 1000);
						terminoEvento = agora - terminoEvento;

						if (inscricao.encontrospresentes) {
							html += '<h3 class="col-h2 titulo-inscricao">' + inscricao.nome + '<br />';
							if (inscricao.tipomultidata) {
								html += (inscricao.creditaracom ? '<small class="col-h2">' : '<small>') + '<i>Presença marcada em ' + inscricao.encontrospresentes + ' de ' + inscricao.encontrostotais + ' encontros</i>';
								if (inscricao.creditaracom)
									html += ' <i class="fa fa-check fa-nomargin"></i>';
								else if (inscricao.presencaminima)
									html += '<br/><i>(Presença mínima requerida em ' + inscricao.presencaminima + ' encontros)</i>';
								html += '</small><br />';
							} else {
								html += '<small class="col-h2"><i>Presença marcada</i> <i class="fa fa-check fa-nomargin"></i></small><br />';
							}
							if (inscricao.avaliacao) {
								html += '<small class="col-h2"><i>Avaliação realizada</i> <i class="fa fa-check fa-nomargin"></i></small>';
							} else if (inscricao.creditaracom) {
								if (terminoEvento > (10 * 24 * 60 * 60 * 1000))
									html += '<small><i>Período de avaliação encerrado</i></small>';
								else if (terminoEvento < 0)
									html += (inscricao.tipomultidata ? '<small><i>Avaliação disponível a partir do término do último encontro</i></small>' :
										'<small><i>Avaliação disponível a partir de dez minutos antes do término da sessão</i></small>');
								else
									html += '<br /><button type="button" class="btn btn-primary" onclick="avaliar(' + inscricao.id + ')"><i class="fa fa-star"></i>Avaliar</button><br /><small><i>Você pode realizar a avaliação até dez dias depois do evento</i></small>';
							} else {
								html += '<small><i>Avaliação indisponível</i></small>';
							}
						} else {
							html += '<h3 class="titulo-inscricao">' + inscricao.nome + '<br /><small><i>Sem presença<br />';
							if (terminoEvento > (10 * 24 * 60 * 60 * 1000))
								html += 'Período de avaliação encerrado</i></small>';
							else
								html += 'Avaliação indisponível</i></small>';
							var nomeJS = JSON.stringify(inscricao.nome).substr(1);
							nomeJS = nomeJS.substr(0, nomeJS.length - 1);
							html += '<br /><button type="button" class="btn btn-danger btn-xs" onclick="excluirInscricao(' + inscricao.id + ', ' + idevento + ', \'' + nomeJS.replace(/[\']/g, "\\\'").replace(/[\"]/g, "\'") + '\')"><i class="fa fa-times"></i>Excluir</button>';
						}
						html += '</h3>';
						html += '<p class="text-right">';

						var j, tags = (inscricao.tags ? inscricao.tags.split(", ") : null);
						if (tags && tags.length) {
							for (j = 0; j < tags.length; j++)
								html += ' <span class="badge">' + tags[j] + '</span>';
							html += '<br/>';
						}

						if (inscricao.multidatas && inscricao.multidatas.length) {
							var multipresencas = {};
							if (inscricao.multipresencas && inscricao.multipresencas.length) {
								for (j = inscricao.multipresencas.length - 1; j >= 0; j--)
									multipresencas[inscricao.multipresencas[j].data] = true;
							}
							html += (multipresencas[inscricao.data] ? '<span class="col-h2"><i class="fa fa-check"></i>' : '<span>') + '<i class="fa fa-calendar"></i>' + inscricao.data + '</span><br /><i class="fa fa-clock-o"></i>' + formatHourDec(inscricao.inicio) + ' - ' + formatHourDec(inscricao.termino);
							for (j = 0; j < inscricao.multidatas.length; j++)
								html += '<br/><br/>' + (multipresencas[inscricao.multidatas[j].data] ? '<span class="col-h2"><i class="fa fa-check"></i>' : '<span>') + '<i class="fa fa-calendar"></i>' + inscricao.multidatas[j].data + '</span><br /><i class="fa fa-clock-o"></i>' + formatHourDec(inscricao.multidatas[j].inicio) + ' - ' + formatHourDec(inscricao.multidatas[j].termino);
						} else {
							html += '<i class="fa fa-calendar"></i>' + inscricao.data + '<br /><i class="fa fa-clock-o"></i>' + formatHourDec(inscricao.inicio) + ' - ' + formatHourDec(inscricao.termino);
						}
						html += '</p>';
						html += '<p><i class="fa fa-university"></i>Unidade: ' + inscricao.nome_unidade + '</p>';
						html += '<p><i class="fa fa-map-marker"></i>Sala/Auditório: <span class="badge badge-sala" style="background-color: ' + intToColor(inscricao.cor) + '; color: ' + textColorForBackground(inscricao.cor) + ';">' + inscricao.nome_local + '</span></p>';
						if ((inscricao.idlocal === idInternet || inscricao.idunidade === idInternet) && inscricao.url_remota)
							html += '<p><a class="btn btn-primary" href="' + inscricao.url_remota + '" target="_blank"><i class="fa fa-external-link"></i>Clique para acessar</a></p>';
					}
				}

				$("#contentInscricoes").html(html);

				$("#modalInscricoes").modal({
					backdrop: "static",
					keyboard: false
				});
			} else {
				Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
			}
		}, "idevento", idevento);
	}

	(function () {
		var i, evento, html = '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body"><button type="button" onclick="mostrarQR()" class="btn btn-lg btn-outline btn-default btn-block"><i class="fa fa-qrcode"></i>Código QR para entrada e presença</button></div></div></div></div>';

		<% if (participante.tipo === 3) { %>
			html += '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body text-center">Por favor, não se esqueça de trazer um documento com foto no dia do evento 😊</div></div></div></div>';
		<% } %>

		html += '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body text-center">Você pode entrar nas sessões a qualquer momento. Porém, para ter a presença computada, por favor, procure chegar até 15 minutos depois do início efetivo da sessão 😅</div></div></div></div>';

		eventos.sort(function (a, b) { return b.data - a.data; });

		for (i = 0; i < eventos.length; i++) {
			evento = eventos[i];

			evento.data = months[(evento.data % 100) - 1].substr(1) + ((evento.data / 100) | 0);

			if (!(i & 1))
				html += (i ? '</div><div class="row">' : '<div class="row">');

			html += '<div class="';
			// A última coluna de uma lista com quantidade ímpar deve ocupar todo o espaço
			html += ((i === (eventos.length - 1) && (eventos.length & 1)) ? "col-lg-12" : "col-sm-6");
			html += '"><div class="panel panel-default panel-transparent-header"><div class="panel-heading">' + capitalizarFrase(evento.nome) + '</div><div class="panel-body panel-body-titulo no-bottom">';
			html += '<h4 class="text-right"><i class="fa fa-calendar"></i>' + evento.data + '</h4>';
			html += '<div class="form-group"><a class="btn btn-lg btn-outline btn-default btn-block" href="<%- root %>/participante/certificado/' + evento.idcertificado + '" target="_blank"><i class="fa fa-id-card-o"></i>Certificado</a></div>';
			html += '<div class="form-group"><button type="button" onclick="mostrarEvento(' + evento.id + ')" class="btn btn-lg btn-outline btn-default btn-block"><i class="fa fa-edit"></i>Inscrições e avaliações</button></div>';
			html += '<div class="form-group"><a class="btn btn-lg btn-outline btn-default btn-block" href="<%- root %>/' + evento.url + '" target="_blank"><i class="fa fa-external-link"></i>Página do evento</a></div>';
			html += '</div></div></div>';
		}

		html += '</div>';

		$("#content").html(html);

		$("#modalInscricoes").on("hidden.bs.modal", function () {
			if (idParaAvaliar) {
				avaliarInterno();
			} else if (idParaExcluir) {
				$("#modalExcluir").modal({
					backdrop: "static",
					keyboard: false
				});
			}
		});
	})();

	// <% if (ideventosessaoparticipante) { %>
	// <% if (parseInt(ideventosessaoparticipante)) { %>
	avaliar(<%- ideventosessaoparticipante %>);
	// <% } else { %>
	Notification.error("<%= ideventosessaoparticipante %> " + emoji.sad, true);
	// <% } } %>
	//]]>
</script>
