
<div class="row">
	<div class="col-lg-12" id="content"></div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalQR">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Código QR</h4>
			</div>
			<div class="modal-body text-center">
				<div id="qrcode"></div>
				<div class="form-group">
					<small>Apresente este código a partir da tela do seu celular para acessar as instalações e sessões dos eventos.<br /><br /><a id="linkQR" href="<%- root %>/participante/qr" target="_blank"><i class="fa fa-print"></i>Se preferir, clique aqui para gerar uma versão do código para impressão.</a></small>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalExcluir">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Excluir Inscrição</h4>
			</div>
			<div class="modal-body">
				Tem certeza que deseja excluir sua inscrição na sessão <span id="lblExcluirNome"></span>? Esta operação <b class="col-h">NÃO</b> pode ser desfeita!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="excluir()"><i class="fa fa-check"></i>Excluir</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalInscricoes">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Minhas Inscrições</h4>
			</div>
			<div class="modal-body" id="contentInscricoes"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAvaliacao">
	<div class="modal-dialog" role="document">
		<form class="modal-content" id="formAvaliacao" method="get">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Avaliação</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="txtAvaliacao">Nota <small>(Uma a cinco estrelas)</small></label>
					<div>
						<button type="button" class="btn btn-outline btn-default" style="font-size: 20px;" id="btnEstrela1" onclick="definirEstrela(1)" title="Uma estrela"><i class="fa fa-nomargin fa-star-o"></i><span class="sr-only">Uma estrela</span></button>
						<button type="button" class="btn btn-outline btn-default" style="font-size: 20px;" id="btnEstrela2" onclick="definirEstrela(2)" title="Duas estrelas"><i class="fa fa-nomargin fa-star-o"></i><span class="sr-only">Duas estrelas</span></button>
						<button type="button" class="btn btn-outline btn-default" style="font-size: 20px;" id="btnEstrela3" onclick="definirEstrela(3)" title="Três estrelas"><i class="fa fa-nomargin fa-star-o"></i><span class="sr-only">Três estrelas</span></button>
						<button type="button" class="btn btn-outline btn-default" style="font-size: 20px;" id="btnEstrela4" onclick="definirEstrela(4)" title="Quatro estrelas"><i class="fa fa-nomargin fa-star-o"></i><span class="sr-only">Quatro estrelas</span></button>
						<button type="button" class="btn btn-outline btn-default" style="font-size: 20px;" id="btnEstrela5" onclick="definirEstrela(5)" title="Cinco estrelas"><i class="fa fa-nomargin fa-star-o"></i><span class="sr-only">Cinco estrelas</span></button>
					</div>
					<input id="txtAvaliacao" name="txtAvaliacao" type="text" tabindex="-1" style="position: absolute; border: 0; outline: 0; pointer-events: none; width: 0; height: 0; display: inline-block; background: transparent;" />
				</div>
				<div class="form-group no-margin-bottom">
					<label for="txtComentario">Comentário <small>(Opcional)</small></label>
					<input id="txtComentario" name="txtComentario" type="text" class="form-control" maxlength="100" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Avaliar</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
			</div>
		</form>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.panel {
		background-color: transparent;
	}

	.panel-body {
		border-radius: 4px;
		background-color: #fff;
	}

	.panel-body-titulo {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.titulo-inscricao {
		font-size: 20px;
		margin: 0 0 15px;
	}

		.titulo-inscricao::first-letter {
			font-size: 30px;
		}

	#qrcode > * {
		margin: 15px auto 30px;
		width: 200px;
		max-width: 100%;
	}

	#contentInscricoes hr {
		margin: 40px 0;
	}
</style>

<%- contentFor("scripts") %>
<!--
	qrcode.js
	https://github.com/davidshimjs/qrcodejs
-->
<script type="text/javascript" src="<%- root %>/lib/qrcodejs/js/qrcode-1.0.0.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var eventos = <%- eventos %>, qrcode = null, idParaAvaliar = 0, idParaExcluir = 0, idEventoParaExcluir = 0;

	function mostrarQR() {
		if (JsonWebApi.active)
			return;

		if (!qrcode) {
			qrcode = new QRCode("qrcode", {
				text: "<%- participante.idqr %>",
				width: 400,
				height: 400,
				colorDark: "#000000",
				colorLight: "#ffffff",
				correctLevel: QRCode.CorrectLevel.H
			});
			$("#qrcode").attr("title", "");
		}

		$("#modalQR").modal({
			backdrop: "static",
			keyboard: false
		});
	}

	function avaliar(id) {
		if (JsonWebApi.active)
			return;

		idParaAvaliar = id;
		idParaExcluir = 0;
		idEventoParaExcluir = 0;

		$("#modalInscricoes").modal("hide");
	}

	function excluir() {
		if (JsonWebApi.active || !idParaExcluir || !idEventoParaExcluir)
			return;

		$("#modalExcluir").modal("hide");

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/participante/excluirInscricao", function (response) {
			if (response.success)
				Notification.success("Inscrição excluída com sucesso! " + emoji.happy);
			else
				Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
		}, "id", idParaExcluir, "idevento", idEventoParaExcluir);

		idParaExcluir = 0;
		idEventoParaExcluir = 0;
	}

	function excluirInscricao(id, idevento, nome) {
		if (JsonWebApi.active)
			return;

		$("#lblExcluirNome").text(nome);
		idParaAvaliar = 0;
		idParaExcluir = id;
		idEventoParaExcluir = idevento;

		$("#modalInscricoes").modal("hide");
	}

	function definirEstrela(estrela) {
		if (!estrela || estrela < 0)
			estrela = 0;
		else if (estrela > 5)
			estrela = 5;
		else
			estrela |= 0;

		$("#txtAvaliacao").val(estrela || "");

		var i;
		for (i = 1; i <= estrela; i++)
			$("#btnEstrela" + i + ">i").removeClass("fa-star-o").addClass("fa-star");
		for (; i <= 5; i++)
			$("#btnEstrela" + i + ">i").removeClass("fa-star").addClass("fa-star-o");
	}

	$("#formAvaliacao").validate({
		rules: {
			txtAvaliacao: {
				required: true,
				min: 1,
				max: 5,
				number: true
			},
			txtComentario: {
				maxlength: 100
			}
		},
		submitHandler: function (form) {
			if (JsonWebApi.active || !idParaAvaliar)
				return;

			Notification.wait();

			JsonWebApi.get("<%- root %>/api/participante/avaliarSessao", function (response) {
				if (response.success) {
					if (response.value) {
						Notification.error(response.value + " " + emoji.sad);
					} else {
						Notification.success("Avaliação realizada com sucesso! " + emoji.happy);
						$("#modalAvaliacao").modal("hide");
					}
				} else {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			}, "id", idParaAvaliar, "avaliacao", $("#txtAvaliacao").val(), "comentario", trim($("#txtComentario").val()));
		}
	});

	function mostrarEvento(idevento) {
		if (JsonWebApi.active)
			return;

		idParaAvaliar = 0;
		idParaExcluir = 0;
		idEventoParaExcluir = 0;

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/participante/listarInscricoes", function (response) {
			if (response.success) {
				Notification.hide();

				var i, inscricao, inscricoes = response.value, idInternet = -1, html = "";

				if (!inscricoes || !inscricoes.length) {
					html = '<div class="text-center">Não foram encontradas inscrições para esse evento ' + emoji.sad + '</div>';
				} else {
					for (i = inscricoes.length - 1; i >= 0; i--)
						inscricoes[i].dataInt = $.fn.dataTable.ext.type.order["customdateint-pre"](inscricoes[i].data);

					inscricoes.sort(function (a, b) {
						if (a.dataInt !== b.dataInt)
							return a.dataInt - b.dataInt;
						if (a.inicio !== b.inicio)
							return a.inicio - b.inicio;
						return a.termino - b.termino;
					});

					var agora = (new Date()).getTime();

					for (i = 0; i < inscricoes.length; i++) {
						inscricao = inscricoes[i];

						if (i)
							html += "<hr />";

						var terminoEvento = (new Date((inscricao.dataInt / 10000) | 0, (((inscricao.dataInt / 100) | 0) % 100) - 1, inscricao.dataInt % 100, (inscricao.termino / 100) | 0, inscricao.termino % 100, 0, 0)).getTime();
						// Libera as avaliações por 10 dias, a partir de 10 minutos antes do final do evento
						terminoEvento -= (10 * 60 * 1000);
						terminoEvento = agora - terminoEvento;

						if (inscricao.presente) {
							html += '<h3 class="col-h2 titulo-inscricao">' + inscricao.nome + '<br /><small class="col-h2"><i>Presença marcada</i> <i class="fa fa-check fa-nomargin"></i></small><br />';
							if (inscricao.avaliacao) {
								html += '<small class="col-h2"><i>Avaliação realizada</i> <i class="fa fa-check fa-nomargin"></i></small>';
							} else {
								if (terminoEvento > (10 * 24 * 60 * 60 * 1000))
									html += '<small><i>Período de avaliação encerrado</i></small>';
								else if (terminoEvento < 0)
									html += '<small><i>Avaliação disponível a partir de dez minutos antes do término da sessão</i></small>';
								else
									html += '<br /><button type="button" class="btn btn-primary" onclick="avaliar(' + inscricao.id + ')"><i class="fa fa-star"></i>Avaliar</button><br /><small><i>Você pode realizar a avaliação até dez dias depois do evento</i></small>';
							}
						} else {
							html += '<h3 class="titulo-inscricao">' + inscricao.nome + '<br /><small><i>Sem presença<br />';
							if (terminoEvento > (10 * 24 * 60 * 60 * 1000))
								html += 'Período de avaliação encerrado</i></small>';
							else
								html += 'Avaliação indisponível</i></small>';
							var nomeJS = JSON.stringify(inscricao.nome).substr(1);
							nomeJS = nomeJS.substr(0, nomeJS.length - 1);
							html += '<br /><button type="button" class="btn btn-danger btn-xs" onclick="excluirInscricao(' + inscricao.id + ', ' + idevento + ', \'' + nomeJS.replace(/[\']/g, "\\\'").replace(/[\"]/g, "\'") + '\')"><i class="fa fa-times"></i>Excluir</button>';
						}
						html += '</h3>';
						html += '<p class="text-right">';

						var j, tags = (inscricao.tags ? inscricao.tags.split(", ") : null);
						if (tags && tags.length) {
							for (j = 0; j < tags.length; j++)
								html += ' <span class="badge">' + tags[j] + '</span>';
							html += '<br/>';
						}

						html += '<i class="fa fa-calendar"></i>' + inscricao.data + '<br /><i class="fa fa-clock-o"></i>' + formatHourDec(inscricao.inicio) + ' - ' + formatHourDec(inscricao.termino) + '</p>';
						html += '<p><i class="fa fa-university"></i>Unidade: ' + inscricao.nome_unidade + '</p>';
						html += '<p><i class="fa fa-map-marker"></i>Sala/Auditório: <span class="badge badge-sala" style="background-color: ' + intToColor(inscricao.cor) + '; color: ' + textColorForBackground(inscricao.cor) + ';">' + inscricao.nome_local + '</span></p>';
						if ((inscricao.idlocal === idInternet || inscricao.idunidade === idInternet) && inscricao.url_remota)
							html += '<p><a class="btn btn-primary" href="' + inscricao.url_remota + '" target="_blank"><i class="fa fa-external-link"></i>Clique para acessar</a></p>';
					}
				}

				$("#contentInscricoes").html(html);

				$("#modalInscricoes").modal({
					backdrop: "static",
					keyboard: false
				});
			} else {
				Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
			}
		}, "idevento", idevento);
	}

	(function () {
		var i, evento, html = '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body"><button type="button" onclick="mostrarQR()" class="btn btn-lg btn-outline btn-default btn-block"><i class="fa fa-qrcode"></i>Código QR para entrada e presença</button></div></div></div></div>';

		<% if (participante.tipo === 3) { %>
			html += '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body text-center">Por favor, não se esqueça de trazer um documento com foto no dia do evento 😊</div></div></div></div>';
		<% } %>

		html += '<div class="row"><div class="col-lg-12"><div class="panel panel-default"><div class="panel-body text-center">Você pode entrar nas sessões a qualquer momento. Porém, para ter a presença computada, por favor, procure chegar até 15 minutos depois do início efetivo da sessão 😅</div></div></div></div>';

		eventos.sort(function (a, b) { return b.data - a.data; });

		for (i = 0; i < eventos.length; i++) {
			evento = eventos[i];

			evento.data = months[(evento.data % 100) - 1].substr(1) + ((evento.data / 100) | 0);

			if (!(i & 1))
				html += (i ? '</div><div class="row">' : '<div class="row">');

			html += '<div class="';
			// A última coluna de uma lista com quantidade ímpar deve ocupar todo o espaço
			html += ((i === (eventos.length - 1) && (eventos.length & 1)) ? "col-lg-12" : "col-sm-6");
			html += '"><div class="panel panel-default"><div class="panel-heading">' + capitalizarFrase(evento.nome) + '</div><div class="panel-body panel-body-titulo no-bottom">';
			html += '<h4 class="text-right"><i class="fa fa-calendar"></i>' + evento.data + '</h4>';
			html += '<div class="form-group"><a class="btn btn-lg btn-outline btn-default btn-block" href="<%- root %>/participante/certificado/' + evento.idcertificado + '" target="_blank"><i class="fa fa-id-card-o"></i>Certificado</a></div>';
			html += '<div class="form-group"><button type="button" onclick="mostrarEvento(' + evento.id + ')" class="btn btn-lg btn-outline btn-default btn-block"><i class="fa fa-edit"></i>Inscrições e avaliações</button></div>';
			html += '<div class="form-group"><a class="btn btn-lg btn-outline btn-default btn-block" href="<%- root %>/' + evento.url + '" target="_blank"><i class="fa fa-external-link"></i>Página do evento</a></div>';
			html += '</div></div></div>';
		}

		html += '</div>';

		$("#content").html(html);

		$("#modalInscricoes").on("hidden.bs.modal", function () {
			if (idParaAvaliar) {
				definirEstrela(0);

				resetForm("#formAvaliacao");

				$("#modalAvaliacao").modal({
					backdrop: "static",
					keyboard: false
				});
			} else if (idParaExcluir) {
				$("#modalExcluir").modal({
					backdrop: "static",
					keyboard: false
				});
			}
		});
	})();

	//]]>
</script>
