<form method="post" id="form" action="<%- root %>/participante/login">
	<div class="painel-msg">
		<div class="panel panel-default mb-0">
			<div class="panel-body">
				<% if (mensagem) { %>
				<div id="lblMessage" class="alert alert-danger"><%=mensagem %></div>
				<% } %>
				<p class="text-center"><img alt="ESPM" src="<%- staticRoot %>/imagens/logo.png" width="100" /></p>

				<ul class="nav nav-pills text-center" role="tablist">
					<li class="mb-3" role="presentation"><a href="#tab-interno" aria-controls="tab-interno" role="tab" data-toggle="tab">Alunos e Funcionários</a></li>
					<li class="mb-3" role="presentation"><a href="#tab-externo" aria-controls="tab-externo" role="tab" data-toggle="tab">Visitantes e Ex-alunos</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active text-center" id="tab-padrao">
						<br />
						Por favor, escolha uma das opções acima para acessar suas <b>inscrições</b> e <b>certificados</b>.
						<br />
						<br />
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab-interno">
						<a href="<%- loginUrl %>" class="btn btn-primary btn-block"><i class="fa fa-lock fa-nomargin"></i>
							<br />
							Entrar com as credenciais da ESPM
						</a>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab-externo">
						<div class="row">
							<div class="col-sm-6">
								<br />
								Ainda não se cadastrou no sistema de eventos da ESPM?
								<br />
								<br />
								<a href="#" onclick="mostrarModalCadastro(); return false;">Clique aqui e cadastre-se agora mesmo! 😊</a>
								<br />
								<br />
								Já possui cadastro? Basta digitar suas informações para entrar!
								<br />
								<br />
							</div>

							<div class="col-sm-6 text-left">
								<div class="form-group">
									<label for="email">E-mail</label>
									<input name="email" type="email" id="email" class="form-control text-uppercase" spellcheck="false" />
								</div>
								<div class="form-group">
									<label for="senha">Senha</label>
									<input name="senha" type="password" id="senha" class="form-control" />
								</div>
								<div class="form-group">
									<input type="submit" value="Entrar" class="btn btn-primary btn-block" />
								</div>
								<div>
									<button type="button" class="btn btn-outline btn-default btn-block btn-sm" onclick="esqueciMinhaSenha()">Esqueci minha senha</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="modalConferirTelefone">
	<div class="modal-dialog" role="document">
		<form class="modal-content" id="modalConferirTelefoneForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Credenciamento ESPM</h4>
			</div>
			<div class="modal-body">
				<p>Por favor, atualize seu telefone antes de prosseguir.</p>
				<div class="form-group mb-0">
					<label for="modalConferirTelefoneInput">Telefone</label>
					<input id="modalConferirTelefoneInput" name="telefone" type="text" spellcheck="false" class="form-control upper" maxlength="15" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Atualizar Telefone</button>
			</div>
		</form>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.nav > li > a {
		color: #000;
	}

	.nav-pills > li {
		float: none;
	}

	.nav > li {
		display: inline-block;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	maskMobilePhone("#modalConferirTelefoneInput");

	var formSubmit = false;

	$("#modalConferirTelefoneForm").validate({
		rules: {
			telefone: {
				minlength: 14,
				required: true
			}
		},
		submitHandler: function (form) {
			if (formSubmit || $.active || JsonWebApi.active)
				return;

			Notification.wait();

			var email = trim($("#email").val()),
				senha = $("#senha").val(),
				telefone = $("#modalConferirTelefoneInput").val();

			JsonWebApi.post("<%- root %>/api/participante/atualizarTelefone", {
				email: email,
				senha: senha,
				telefone: telefone
			}, function (response) {
				if (response.success && !response.value) {
					formSubmit = true;

					_("form").submit();
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});

	$("#form").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			senha: {
				required: true
			}
		},
		submitHandler: function (form) {
			if (formSubmit || $.active || JsonWebApi.active)
				return;

			Notification.wait();

			var email = trim($("#email").val()),
				senha = $("#senha").val();

			JsonWebApi.post("<%- root %>/api/participante/conferirTelefone", {
				email: email,
				senha: senha
			}, function (response) {
				if (response.success) {
					if (!response.value) {
						formSubmit = true;

						form.submit();
					} else if (response.value == "1") {
						Notification.hide();

						$("#modalConferirTelefone").modal({
							keyboard: false,
							backdrop: "static"
						});
					} else {
						Notification.error(response.value, true);
					}
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});

	var modalCadastro = null;

	function mostrarModalCadastro() {
		if (formSubmit || $.active || JsonWebApi.active)
			return;

		if (!modalCadastro) {
			Notification.wait();

			$.ajax({
				url: "<%- root %>/participante/modal",
				success: function (data) {
					Notification.hide();

					$(document.body).append(data);
					modalCadastro = $("#modalCadastro");
					maskMobilePhone("#modalTelefone");

					modalCadastro.modal({
						keyboard: false,
						backdrop: "static"
					});
				},
				error: function () {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});

			return;
		}

		modalCadastro.modal({
			keyboard: false,
			backdrop: "static"
		});
	}

	function esqueciMinhaSenha() {
		if (formSubmit || $.active || JsonWebApi.active)
			return;

		var email;
		if (!validateEmail(email = $("#email").val())) {
			Notification.error("Por favor, insira um e-mail válido para prosseguir " + emoji.sad, true);
			return;
		}

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/participante/redefinirSenha", function (response) {
			if (response.success)
				Notification.success("As instruções para redefinir sua senha foram encaminhadas para seu e-mail! " + emoji.happy);
			else
				Notification.error(response.value, true);
		}, "email", email);
	}

	//]]>
</script>
