
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações Básicas do Local</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="capacidade_real">Capacidade Real</label>
					<input id="capacidade_real" name="capacidade_real" class="form-control" type="number" value="<%=(item ? item.capacidade_real : '') %>" />
				</div>
				<div class="form-group">
					<label for="idunidade">Unidade</label>
					<select id="idunidade" name="idunidade" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < unidades.length; i++) { %>
						<option value="<%=unidades[i].id %>" <%-((item && item.idunidade === unidades[i].id) ? 'selected="selected"' : '') %>><%=(unidades[i].nome + (unidades[i].sigla === '-' ? '' : (' (' + unidades[i].sigla + ')'))) %></option>
						<% } %>
					</select>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Local') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			capacidade_real: {
				required: true,
				number: true,
				min: 0
			},
			idunidade: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/local/alterar", form, function (response) {
				if (response.success)
					Notification.success("Local alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/local/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Local criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
